{% extends "tool_base.html" %}
{% from 'macros.html' import render_forms, hover_tooltip with context %}

{% block title %}{{ _('SameDiff') }}{% endblock %}

{% block custom_css %}
  <link href="{{ url_for('static', filename='css/samediff.scss.css') }}" rel="stylesheet" type="text/css">
  <meta id="max-file-size-in-mb" data-value="{{ max_file_size_in_mb }}">
{% endblock %}

{% block nav %}
  {% include 'tool_header.html' %}
{% endblock %}

{% block body %}
<div class="tool" role="main">
  <div class="container">
    <div class="row">
      <div id="tool-description">
        <h3 role="banner">{{ _('SameDiff compares two or more text files and tells you how similar or different they are.') }}</h3>
        <p>{{ _('SameDiff compares one %(corpus)s of text to another corpus of text to show you similarities and differences. It uses a %(cosine_similarity)s %(algorithm)s to rate whether the documents are really similar or totally different.',
        corpus=hover_tooltip(_('corpus'), 'corpus', _("A collection of written texts. For example, all of the lyrics in Katy Perry songs.") ),
        cosine_similarity=hover_tooltip(_('cosine similarity'), 'cosine similarity', _("The Cosine Similarity score tries to tell you how similar two documents are based on the number of times words are used in each.")),
        algorithm=hover_tooltip(_('algorithm'), 'algorithm', _("A set of steps you (or a computer) do in order to solve a problem. For example, when you type in a search term, Google runs an algorithm to figure out which pages to show you.") )) }}</p>
      </div>
    </div>
    {{ render_forms(forms, action_url=tool_name, action_text=_('Compare')) }}
  </div>
  {{ about_section(_('SameDiff'), '150671162',
        url_for('static', filename='img/samediff-sheet-thumbnail.jpg'), 
        "/"+g['current_lang']+"/samediff/samediff-activity-guide.pdf"
  ) }}
</div>
{% endblock %}