{% extends "tool_base.html" %}
{% from 'macros.html' import render_forms, video_modal %}

{% block title %}{{ _('SameDiff') }}{% endblock %}

{% block custom_css %}
	<link href="{{ url_for('static', filename='css/samediff.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
	{% include 'tool_nav.html' %}
{% endblock %}

{% block body %}
<div class="container">
	<div id="tool-description">
		<h3>{{ _('SameDiff compares two or more text files and tells you how similar or different they are.') }}</h3>
		<p>{{ _('What distinguishes one candidate from another? One musical artist from another? One constitution from another? SameDiff shows you how similar text files are using cosine similarity and shared words and how different they are using TF-IDF to identify frequent and unique words.') }}</p>
	</div>
	{{ video_modal("How to count", "https://www.youtube.com/embed/Lur-SGl3uw8") }}
	{{ render_forms(forms, action_url=tool_name, action_text=_('Compare')) }}
</div>
{% endblock %}