{% extends "tool_base.html" %}
{% from 'macros.html' import download_url %}

{% block title %}{{ _('Words in common') }}{% endblock %}

{% block body %}

<br />
<br />
<br />
<br />
<br />

    <div class="container">
      <div class="row" >
        <div class="col-md-12 text-center" style="margin:20px 0">
          <h3>{{_("Words in Common")}}: {{file1}} and {{file2}}</h3>
          <p><a href={{ download_url(tool_name, doc_id, 'csv', 'common-words', file1, file2) }}>download</a></p>
        </div>
      </div>
      
      {% if job['status']=='complete' %}
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <th>{{_("Word")}}</th>
                <th>{{_("Total Uses")}}</th>
                <th>{{_("Uses in")}} {{file1}}</th>
                <th>{{_("Uses in")}} {{file2}}</th>
              </tr>
              {% for row in results | batch(50) | first %}
                <tr>
                  <td>{{ row['term'] }}</td>
                  <td>{{ row['total'] }}</td>
                  <td>{{ row['doc1'] }}</td>
                  <td>{{ row['doc2'] }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      {% else %}
        <div class="row">
          {{ _("Sorry, your results are still being processed.")}}
        </div>
      {% endif %}
      
    </div>

{% endblock %}
