@charset "UTF-8";

@import "settings/colors";

$c-theme-accent: $c-white;
$c-theme-lt: $c-white;
$c-theme-md: $c-white;
$c-theme-dk: $c-black;

$c-selected: $c-theme-accent;
$c-unselected: $c-theme-md;
$c-hover: $c-theme-dk;