@charset "UTF-8";

@import "settings/colors";

$c-theme-accent: #35e4b5;
$c-theme-lt: #2cd5a7;
$c-theme-md: #1ec293;
$c-theme-dk: #1cb88c;
$c-theme-bg: #20c898;

$c-selected: $c-theme-accent;
$c-unselected: $c-theme-md;
$c-hover: $c-theme-dk;