@charset "UTF-8";

@import "settings/colors";

$c-theme-accent: #fd8f79;
$c-theme-lt: #fd755a;
$c-theme-md: #fd755a;
$c-theme-dk: #fc5739;
$c-theme-bg: #fc674a;

$c-selected: $c-theme-accent;
$c-unselected: $c-theme-md;
$c-hover: $c-theme-dk;