@charset "UTF-8";

@import "settings/colors";

$c-theme-accent: #FFB74C;
$c-theme-lt: #ff9800;
$c-theme-md: #ff9800;
$c-theme-dk: #ff9800;
$c-theme-bg: #ff9800;

$c-selected: $c-theme-accent;
$c-unselected: $c-theme-md;
$c-hover: $c-theme-dk;