.DS_Store
.Python
*.sublime-*
*.pyc
sample-data/
instance/
venv/
terminal.glue
config/settings.py
config/google-credentials.json
config/sample-data.json
config/settings.config
*.scss.css
*.scss.css.map
dump.rdb