.DS_Store
.Python
*.sublime-*
*.pyc
.profile
sample-data/
instance/
venv/
terminal.glue
config/settings.py
config/google-credentials.json
config/settings.config
*.scss.css
*.scss.css.map
dump.rdb
logs/*.log
.env
.webassets-cache/
config/development.py
certs/
logs/*.log.*

HANDY_SNIPPETS

databasic/static/gen/packed_tool.js
.idea

