setuptools==81.0.0
beautifulsoup4==4.14.3
rcssmin==1.2.2
agate==1.14.1
Flask==3.0.3
Flask-Assets==2.1.0
Flask-Babel==4.0.0
Flask-DebugToolbar==0.16.0
Flask-Mail==0.10.0
Flask-WTF==1.2.*
lxml_html_clean
readability-lxml==0.8.4.1
gspread==6.2.1
gunicorn==25.1.0
jsmin==3.0.1
libsass==0.23.0
natural==0.2.0
networkx==3.6.1
nltk==3.9.2
numpy==2.4.2
pojson==0.7
pymongo==4.16.0
pytest==7.0.1
pyth3==0.7
python-dateutil==2.9.0
python-docx==0.8.11
python-louvain==0.16
pytz==2022.7
requests>=2.20.0
scipy==1.17.1
six==1.16.0
SQLAlchemy>=2.0.47
textmining3==1.1.0
docx2txt==0.8
xlrd==2.0.2
charset-normalizer==3.4.4
google-auth>=2.0.0
google-auth-oauthlib>=1.0.0
openpyxl==3.1.5