beautifulsoup4==4.9.0
chardet==3.0.4
cssmin==0.2.0
# can't upgrade csvkit because the API changed a lot at 1.0 (switched to agate)
csvkit~=1.0.6
Flask==1.1.2
Flask-Assets==0.12
Flask-Babel==1.0.0
Flask-DebugToolbar==0.10.1
Flask-Mail==0.9.1
Flask-WTF==0.14.3
gdata-python3==3.0.1
newspaper3k~=0.2.8
gspread==0.2.5
gunicorn==20.0.4
jsmin==2.2.2
libsass==0.9.1
natural==0.2.0
networkx==1.11
nltk==3.5
numpy==1.18.3
oauth2client==1.5.1
pojson==0.7
pymongo==3.7.1
pytest==2.8.2
pyth3==0.7.0
# have to use this older version for csvkit python -m nltk.downloader all
python-dateutil~=2.8.2
python-docx==0.8.10
python-louvain==0.14
pytz==2019.1
requests>=2.20.0
scipy==1.5.4
six==1.10.0
SQLAlchemy>=1.3.0
textmining3==1.1.0
docx2txt==0.8
xlrd==1.0.0
