beautifulsoup4==4.10.0
cssmin==0.2.0
agate==1.6.3
Flask==2.0.2
Flask-Assets==2.0
Flask-Babel==2.0.0
Flask-Mail==0.9.1
Flask-WTF==1.0.0
gdata-python3==3.0.1
readability-lxml==0.8.1
gspread==0.2.5 # freeze this one here so we can support OAuth for pulling in GSheets in WTFCSV
gunicorn==20.1.0
jsmin==3.0.0
libsass==0.21.0
natural==0.2.0
networkx==2.6.3
nltk==3.6.5
numpy==1.21.4
oauth2client==1.5.1 # freeze this so we don't have to redo oauth code
pojson==0.7
pymongo==4.0.1
pytest==6.2.5
pyth3==0.7
python-dateutil==2.8.2
python-docx==0.8.11
python-louvain==0.15
pytz==2021.3
requests==2.26.0
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.4.28
textmining3==1.1.0
docx2txt==0.8
xlrd==1.2.0 # important to hold this back so we can support .xls files
