{% extends "base.html" %}
{% from 'macros.html' import render_form_feedback with context %}

{% block custom_css %}
  <link href="{{ url_for('static', filename='css/culture.scss.css') }}" rel="stylesheet" type="text/css">
  https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js
{% endblock %}

{% block footer %}
<footer>
  <nav class="navbar culture">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2-5 col-md-offset-3">
            <a href="http://elab.emerson.edu"><img src="/static/img/logos/el.png" alt="Engagement Lab at Emerson College" class="img-responsive"></a>
          </div>
          <div class="col-xs-4 col-sm-3">
            <a href="https://databasic.io/"><img src="/static/img/logos/databasic_white.png" alt="DataBasic" class="img-responsive"></a>
          </div>
          <div class="col-xs-4 col-sm-3">
            <a href="https://civic.mit.edu/"><img src="/static/img/logos/mit.png" alt="MIT Center for Civic Media" class="img-responsive"></a>
          </div>
        </div>
      </div>

    </div>
  </nav>
</footer>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
function setFeedbackFormState(disabled) {
  $("#feedbackForm :input").prop("disabled", disabled);
  $("#feedbackForm button").prop("disabled", disabled);
}
function onSubmitFeedback(form){
  setFeedbackFormState(true);
  $.ajax({
    method: "POST",
    beforeSend: function(request) {
      request.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}");
    },
    url: 'feedback',
    data: {
      feedback: $('#feedbackForm textarea#feedback').val(),
      email: $('#feedbackForm input#email').val()
    }
  })
  .done(function(data) {
    setFeedbackFormState(false);
    $("#result").text('{{ _("Thanks for the feedback!")}}');
  }) 
  .fail(function(data) {
    setFeedbackFormState(false);
    $("#result").text('{{ _("Sorry, something went wrong.  Please try again.")}}');
  });
  return false;
}
$(function() {
  // setup feedback form validation and submission handler
  $("#feedbackForm").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      feedback: {
        required: true,
        minlength: 10
      }
    },
    messages: {
      link: {
        required: "{{_('This field is required')}}",
        email: "{{_('Give us your email so we can respond')}}",
      }
    },
    submitHandler: onSubmitFeedback,
  });
});
</script>
{% endblock %}
