{% extends "base.html" %}
{% from 'macros.html' import render_form_feedback with context %}

{% block custom_css %}
  <link href="{{ url_for('static', filename='css/culture.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block footer %}
<footer>
  <nav class="navbar culture">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2-5 col-md-offset-3">
            <a href="http://elab.emerson.edu"><img src="/static/img/logos/el.png" alt="Engagement Lab at Emerson College" class="img-responsive"></a>
          </div>
          <div class="col-xs-4 col-sm-3">
            <a href="https://databasic.io/"><img src="/static/img/logos/databasic_white.png" alt="DataBasic" class="img-responsive"></a>
          </div>
          <div class="col-xs-4 col-sm-3">
            <a href="https://civic.mit.edu/"><img src="/static/img/logos/mit.png" alt="MIT Center for Civic Media" class="img-responsive"></a>
          </div>
        </div>
      </div>

    </div>
  </nav>
</footer>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://databasic.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}
