
{% macro render_feedback_form(activity_name, number=4) -%}
  <div class="row row-flex">
    <div class="num even red">{{number}}</div>
    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <h2>{{ _("Learn With Others") }}</h2>
      <p>{{ _("People around the world are using this activity. Learn from their comments below, and please share your experience with others by submitting it! Comments you leave here will be moderated. Once approved, they will be shared on this page and are public.") }}</p>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = "https://databasic.io"+"{{request.path}}";
          this.page.identifier = "{{activity_name}}";
        }
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>
{%- endmacro %}
