{% from "culture_macros.html" import render_feedback_form %}

{% extends "culture_activity_base.html" %}

{% block title %}{{ _("Asking Good Questions")}}{% endblock %}

{% block body %}

<div role="main" class="container-fluid culture-wrapper activity-wrapper">

  <div class="activity-content">
      <div class="row row-flex header orange">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="/{{g['current_lang']}}/culture" alt="{{_('Data Culture Project')}}"><img class="logo" src="{{ url_for('static', filename='img/culture/data-culture-project-logo@2x.png') }}" alt="Data Culture Project" width="236" height="auto"></a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h1>{{ _("Asking Good Questions")}}</h1>
          <h2>{{ _("Learn how to move from spreadsheet to story with WTFcsv") }}</h2>
        </div>
      </div>

      {# Set Up #}
      <div class="row row-flex">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
          <h2>Set Up</h2>
          <p>{{ _("This activity will take 30 to 45 minutes. You should have these materials on hand:") }}</p>
          <ul>
            <li>{{ _("A basic Internet connection")}}</li>
            <li>{{ _("A phone, tablet, or computer for each small 
            group of 3 people")}}</li>
            <!---"/"+g['current_lang']+"/wtfcsv/wtfcsv-activity-guide.pdf"-->
            <li>{{ _("1 printed copy of the <a href='https://databasic.io/en/wtfcsv/wtfcsv-activity-guide.pdf'>WTFcsv handout</a> per group")}}</li>
            <li>{{ _("Paper &amp; pens")}}</li>
            
          </ul>
        </div>
      </div>

      {# Asking Questions #}
      <div class="row row-flex">
        <div class="num odd orange">1</div>      
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Kick-Off The Activity</h2>
          <p>{{ _("In this activity, you will work with colleagues to analyze text as data and sketch a story based on the patterns you see. You will learn some basic terminology for quantitative text analysis, get acquainted with Databasic.io's WordCounter tool, and start to consider places in your organization where you work with text as data.  You'll pair up with your colleagues to search for stories in some fun sample data and then draw a sketch to tell the story you find to your colleagues. Start the activity by playing the kickoff video below for your group.") }}</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <img src="{{ url_for('static', filename='img/culture/coming-soon.png') }}" alt="Coming Soon" height="auto">
        </div>
      </div>

      {# Gathering Data #}
      <div class="row row-flex">
        <div class="num even orange">2</div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Have Everyone Share Back</h2>
          <p>{{ _("Play this video after each small group has sketched their story on a large sheet of paper. Here we outline some questions to discuss as each group describes the story that they found. For example, you'll want to take note of stories based on comparing two things versus those those based on a single, interesting data point. And you can start a conversation about how groups used visual parameters – like color, size and position – to communicate their story. ") }}</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <img src="{{ url_for('static', filename='img/culture/coming-soon.png') }}" alt="Coming Soon" height="auto">
        </div>
      </div>

      {# Analyzing Data #}
      <div class="row row-flex">
        <div class="num odd orange">3</div> 
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Wrap-Up and Talk Next Steps</h2>
          <p>{{ _("Now that you've analyzed text and sketched a story, this video will help you think about where to go from here. For example, what are some text datasets that your organization already has on hand?  We discuss some more sophisticated methods of quantitative text analysis as well as point out some common pitfalls to try to avoid.") }}</p>   
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <img src="{{ url_for('static', filename='img/culture/coming-soon.png') }}" alt="Coming Soon" height="auto">
        </div>
      </div>

      
      {{ render_feedback_form(render_form_feedback) }}

  </div>

</div>

{% endblock %}
