{% from "culture_macros.html" import render_feedback_form %}

{% extends "culture_activity_base.html" %}

{% block title %}{{ _("Asking Good Questions")}}{% endblock %}

{% block culture_body %}

<div role="main" class="container-fluid culture-wrapper activity-wrapper">

  <div class="activity-content orange">
      <div class="row row-flex header">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="/{{g['current_lang']}}/culture" alt="{{_('Data Culture Project')}}"><img class="logo" src="{{ url_for('static', filename='img/culture/data-culture-project-logo@2x.png') }}" alt="Data Culture Project" width="236" height="auto"></a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h1>{{ _("Asking Good Questions")}}</h1>
          <h2>{{ _("Learn how to move from spreadsheet to story with WTFcsv") }}</h2>
        </div>
      </div>

      {# Set Up #}
      <div class="row row-flex">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
          <h2>{{ _("Set Up") }}</h2>
          <p>{{ _("This activity will take 30 to 45 minutes. You should have these materials on hand:") }}</p>
          <ul>
            <li>{{ _("A basic Internet connection")}}</li>
            <li>{{ _("A phone, tablet, or computer for each small 
            group of 3 people")}}</li>
            <!-- TODO - make this language specific "/"+g['current_lang']+"/wtfcsv/wtfcsv-activity-guide.pdf"-->
            <li>{{ _("1 printed copy of the <a href='https://databasic.io/en/wtfcsv/wtfcsv-activity-guide.pdf'>WTFcsv handout</a> per group")}}</li>
            <li>{{ _("Paper &amp; pens")}}</li>
            <li>{{ _("Planning to show the videos offline? <a href=\"https://www.dropbox.com/s/t7mai3ecrcayvei/AskingGoodQuestionsAllThreeFacilitationVideos.zip?dl=0\">Click here</a> to download them in advance.")}}</li>
          </ul>
          <p><a class="activity-guide" href='https://databasic.io/en/wtfcsv/wtfcsv-activity-guide.pdf'>Download and print the activity guide</a></p>
        </div>
      </div>

      {# Kick Off #}
      <div class="row row-flex">
        <div class="num odd orange">1</div>      
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>{{ _("Kick-Off The Activity") }}</h2>
          <p>{{ _("Increasingly, data arrives on our doorstep in the form of a spreadsheet. Somebody sends you an excel file or you download something from the web. In this activity, you will work with colleagues to ask good questions of a spreadsheet so that you can take it from data points to data story. You will use <a href='https://wtfcsv.databasic.io/'>Databasic.io's WTFcsv tool</a>, get acquainted data types, and do some basic spreadsheet analysis.  '<em>csv</em>' stands for <em>comma separated values</em>, a common spreadsheet format on the web. <em>WTF</em> stands for... well... the question you ask when someone sends you an inscrutable csv file.
          </p>
          <p>In this activity participants will brainstorm questions to ask sample datasets based on summaries of the columnar data.  Work in groups of 2-3 colleagues for about 10 minutes with the data. At the end give them a minute to pick the best question and write it down on the handout, indicating the question, any other data they might need to answer it, and how they would get that data. Start the activity by playing the kickoff video below for your group, which explains all this.") }}</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/236119180" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      {# Share Back #}
      <div class="row row-flex">
        <div class="num even orange">2</div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>{{ _("Have Everyone Share Back") }}</h2>
          <p>{{ _("Play this video after each small group has written their questions on the WTFcsv handout. Here we outline some things to discuss as each group enumerates their questions and the process they might take to start answering them. For example, you want to validate groups that asked 'meta questions', like 'where is this data from?' or 'Can we trust this data?' as well as groups that started to ask questions about patterns that they saw in the data itself. If groups ask questions about patterns in data, ask them to take a step towards answering them. What other data would they need to answer their questions? Who collects that data?") }}</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/237095292" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      {# Next Steps #}
      <div class="row row-flex">
        <div class="num odd orange">3</div> 
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Wrap-Up and Talk Next Steps</h2>
          <p>{{ _("Now that you've done some basic spreadsheet analysis, this video will help you think about where to go from here. For example, what information in your organization is captured in spreadsheet form? Could you use this same approach with survey result data? With financial data? With lists of donors or web analytics? How can having groups come up with questions help you take the next step with your organization's data? We also discuss some common pitfalls to try to avoid, like remembering to consider outliers and keeping in mind that correlation is not causation.") }}</p>   
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/237100573" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      
      {{ render_feedback_form("wtf-csv") }}

  </div>

</div>

{% endblock %}
