{% from "culture_macros.html" import render_feedback_form %}

{% extends "culture_activity_base.html" %}

{% block title %}{{ _("Sketch a Story")}}{% endblock %}

{% block body %}

<div role="main" class="container-fluid culture-wrapper activity-wrapper">

  <div class="activity-content red">
      <div class="row row-flex header">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="/{{g['current_lang']}}/culture" alt="{{_('Data Culture Project')}}"><img class="logo" src="{{ url_for('static', filename='img/culture/data-culture-project-logo@2x.png') }}" alt="Data Culture Project" width="236" height="auto"></a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h1>{{ _("Sketch a Story")}}</h1>
          <h2>{{ _("Use WordCounter to analyze a musician’s lyrics and sketch a story with their words") }}</h2>
        </div>
      </div>

      {# Set Up #}
      <div class="row row-flex">
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
          <h2>Set Up</h2>
          <p>{{ _("This activity will take 30 to 45 minutes. You should have these materials on hand:") }}</p>
          <ul>
            <li>{{ _("A projector to show these videos")}}</li>
            <li>{{ _("Large pieces of paper to draw on (2 feet by 3 feet is best)")}}</li>
            <li>{{ _("Thick crayons or markers of different colors")}}</li>
            <li>{{ _("A phone, tablet, or computer connected to the internet for each small 
            group of 3 people")}}</li>
          </ul>
          <p><a class="activity-guide" href='https://databasic.io/en/wordcounter/wordcounter-activity-guide.pdf'>Download and print the activity guide</a></p>
        </div>
      </div>

      {# Asking Questions #}
      <div class="row row-flex">
        <div class="num odd red">1</div>      
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Kick-Off The Activity</h2>
          <p>{{ _("It is hard to go from data to story.  This activity lets you quickly do that by analyzing datasets to find patterns in text, and then sketching out some story you find.  It introduces basic terminology for quantitative text analysis, helps you get acquainted with <a href='https://wordcounter.databasic.io/'>Databasic.io's WordCounter tool</a>a>, and prompts you to consider places in your organization where you work with text as data.  Participants will pair up with colleagues to search for stories in some fun sample data and then draw a sketch to share that story. Start the activity by playing the kickoff video below for your group.") }}</p>
          <p>Introduce the activity and then give folks about 15 minutes to sketch.  With 10 minutes left let them know that they should have chosen a dataset to work with. When they have 5 minutes left make sure they have a story and are sketching on paper, otherwise they'll be scrambling to get a drawing done.</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/235940667" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      {# Gathering Data #}
      <div class="row row-flex">
        <div class="num even red">2</div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Have Everyone Share Back</h2>
          <p>{{ _("Play this video after each small group has sketched their story on a large sheet of paper. Here we outline some questions to discuss as each group describes the story that they found. For example, you'll want to take note of stories based on comparing two things versus those those based on a single, interesting data point. And you can start a conversation about how groups used visual parameters – like color, size and position – to communicate their story.") }}</p>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/235943157" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      {# Analyzing Data #}
      <div class="row row-flex">
        <div class="num odd red">3</div> 
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <h2>Wrap-Up and Talk Next Steps</h2>
          <p>{{ _("Now that everyone has analyzed text and sketched a story, this video will help people think about where to go from here. For example, what are some text datasets that your organization already has on hand?  We discuss some more sophisticated methods of quantitative text analysis as well as point out some common pitfalls to try to avoid.") }}</p>   
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <iframe src="https://player.vimeo.com/video/235944685" width="100%" height="355" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      {{ render_feedback_form("word-counter") }}

  </div>

</div>

{% endblock %}
