{% extends "culture_base.html" %}

{% block title %}Testimonials{% endblock %}

{% block culture_body %}

  <div role="main" class="container-fluid culture-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <h1>{{ _("Testimonials") }}</h1>
          <p>
            {{ _("We're working with non-profits, news organizations, libraries, and community groups around the world. Here are some testimonials from partners that have helped guide the project.")}}
          </p>

          <p class="testimonial blue-border">
            {{ _("The Data Culture Project allowed us to <b>change a mindset about data</b>. More than a Project focusing on learning ‘tools,’ it allowed us to go further, by going to the basics, and most needed: a data culture. Now we are working with different local journalism organizations — and different sections within them — for cooperating and start working towards more data-journalism. We are grateful for having being part of the Pilot, and we look forward for continued as part of an increasing community of a Data Culture Project.") }}
            <span class="attribution">
              Andrés Felipe Vera Ramírez, El Mundo/Radio Clarin
            </span>
          </p>

          <p class="testimonial blue-border">
            {{ _("The DCP program helped us look at data in a different way, especially through WordCounter, which visualizes text into word clouds. Instead of teaching us to just spout statistics, this workshop gave us the opportunity to tell our story in a new and visual way. <b>The program was accessible to people of all levels</b> regardless of their background and initial comfort with data analysis. Our staff members are now able to use data more effectively whether that be for social media or for grant reports.") }}
            <span class="attribution">
              Jennifer Connolly, Junior Achievement of Western Massachusetts
            </span>
          </p>

          <p class="testimonial orange-border">
            {{ _("The DCP program helped us have conversations about how we use data as an organization. <b>The tools were accessible</b> and the pacing of the workshops was great. Doing workshops with Rahul and Catherine helped us carve out time to really focus on data analysis and discuss how we could use it better internally to hit our goals. DCP really helped us begin building better habits around data-driven storytelling.") }}
            <span class="attribution">
              Michael Morisy, MuckRock
            </span>
          </p>

          <p class="testimonial red-border">
            {{ _("As a health research funder, MSFHR has many staff who work with data on a daily basis, but others in the organization are less familiar with how data informs the work we do. The Data Culture Project was a fun, accessible opportunity for teams across the organization to practice working with data, and got everyone talking and thinking about data in new ways. We were excited with the level of participation and particularly happy to see <b>folks who don’t typically use data in their day-to-day roles being engaged in the sessions</b>. Participating in the project helped boost our thinking about organization-wide data-mindedness, and we’re inspired to keep this good work going. Whether you’re a non-profit looking to spark more interest in data, promote data literacy in your team, or reflect on the role data plays in your work, the Data Culture Project is a great place to begin.") }}
            <span class="attribution">
              Michael Smith Foundation for Health Research
            </span>
          </p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
