{% extends "base.html" %}
{% block title %}DataBasic.io{% endblock %}
{% block custom_css %}
	<link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block nav %}
	{% include 'home_nav.html' %}
{% endblock %}
{% block body %}
<div class="container" role="main">
	<div class="row" id="intro">
		<h2 role="banner">{{ _('DataBasic is a suite of easy-to-use web tools for beginners that introduce concepts of working with data.') }}</h2>
		<p>{{ _('These simple tools make it easy to work with data in fun ways, so you can learn how to find great stories to tell.') }}</p>
	</div>
	<div class="row row-centered">
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="thumbnail-img center-block" id="wordcounter">
					<a href="wordcounter" title="WordCounter" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/wordcounter_white.png') }}" alt="word counter logo"></a>
				</div>
				<div class="caption">
					<p><a href="wordcounter" title="WordCounter">{{ _('WordCounter analyzes your text and tells you the most common words and phrases.') }}</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="thumbnail-img" id="wtfcsv">
					<a href="wtfcsv" title="WTFcsv" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/wtfcsv_white.png') }}" alt="wtfcsv logo"></a>
				</div>
				<div class="caption">
					<p><a href="wtfcsv" title="WTFcsv">{{ _('WTFcsv tells you WTF is going on with your .csv file.') }}</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="thumbnail-img" id="samediff">
					<a href="samediff" title="SameDiff" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/samediff_white.png') }}"  alt="same diff logo"></a>
				</div>
				<div class="caption">
					<p><a href="samediff" title="SameDiff">{{ _('SameDiff compares two or more text files and tells you how similar or different they are') }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock %}