{% extends "base.html" %}
{% from 'footer.html' import footer_menu %}
{% block title %}DataBasic.io{% endblock %}
{% block custom_css %}
  <link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block nav %}
  {% include 'home_header.html' %}
{% endblock %}
{% block body %}
<div class="container" role="main">
  <div class="row text-center no-gutter">
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="thumbnail-img" id="wordcounter">
          <a href="wordcounter" title="WordCounter" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/wordcounter_white.png') }}" alt="word counter logo"></a>
        </div>
        <div class="thumbnail-caption">
          <p><a href="wordcounter" title="WordCounter">{{ _('WordCounter analyzes your text and tells you the most common words and phrases.') }}</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="thumbnail-img" id="wtfcsv">
          <a href="wtfcsv" title="WTFcsv" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/wtfcsv_white.png') }}" alt="wtfcsv logo"></a>
        </div>
        <div class="thumbnail-caption">
          <p><a href="wtfcsv" title="WTFcsv">{{ _('WTFcsv tells you WTF is going on with your .csv file.') }}</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="thumbnail-img" id="samediff">
          <a href="samediff" title="SameDiff" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/samediff_white.png') }}" alt="same diff logo"></a>
        </div>
        <div class="thumbnail-caption">
          <p><a href="samediff" title="SameDiff">{{ _('SameDiff compares two or more text files and tells you how similar or different they are.') }}</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="thumbnail-img" id="connectthedots">
          <a href="connectthedots" title="ConnectTheDots" aria-hidden="true"><img src="{{ url_for('static', filename='img/logos/connectthedots_white.png') }}" alt="connect the dots logo"></a>
        </div>
        <div class="thumbnail-caption">
          <p><a href="connectthedots" title="ConnectTheDots">{{ _('Connect the Dots shows you how your data is connected by analyzing it as a network.') }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid home-video">
  <div class="row text-center no-gutter">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{ _('Why use DataBasic?') }}</h1>
      <div class="js-video vimeo widescreen">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/150218661?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container home-about--header">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{ _('About <strong>DataBasic</strong>') }}</h1>
    </div>
  </div>
</div>
<div class="home-about">
  <div class="container">
    <div class="row row-flex">
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--blue">
        <h3>{{ _("Accessible to All") }}</h3>
        <p>{{ _("Digital technologies have empowered those with disabilities in a variety of ways, and new web standards have made it easier than ever to build new tools that are accessible to all.  DataBasic implements those technologies to support screen readers so the visually impaired can start working with data in new and exciting ways.") }}</p>
      </div>
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--green-o">
        <h3>{{ _("Doing One Thing Well") }}</h3>
        <p>{{ _("There are tons of tools for working with data; many so complex they are intimidating to even start with.  We've built each DataBasic tool to focus on doing one thing well, so you know exactly what each can be used for.  This lets us concentrate on making that one thing both simple and powerful.") }}</p>
      </div>
    </div>
    <div class="row row-flex">
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--yellow-o">
        <h3>{{ _("Fitting in to Your Pipeline") }}</h3>
        <p>{{_("Working with data online always involves using a mishmash of tools. We're not going to solve that problem anytime soon.  So we've built DataBasic to take in a variety of types of data, and output results in the formats you're used to.  Read some content from website and download CSV files of your results. These are just two of the ways we try to introduce you to the way most folks work data online.")}}</p>
      </div>
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--red">
        <h3>{{ _("Focused on Learning ") }}</h3>
        <p>{{_("Sometimes faster isn't better.  If you really want to learn how to work with data to find stories to tell, you'll need to use tools that do more than just give you a chart as quickly as possible.  That's why we've built DataBasic with learners in mind.  Don't know what some technical word means? Hover over it to see a quick definition.  Not sure how to use a tool?  Try some of the fun sample data like music lyrics and UFO sightings we've included to get started.")}}</p>
      </div>
    </div>
    <div class="row row-flex">
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--pink">
        <h3>{{ _("Ensuring Your Privacy") }}</h3>
        <p>{{_("With more and more data-centric tools moving online, sometimes it can be hard to tell where your data is going and what will happen with it after you upload it.  We store information you upload for only the amount of time it takes us to analyze it, then we delete it.  The aggregate results we show you - metadata - are kept for 60 days, and then we delete them.  All communications are over https, so other folks can't eavesdrop on the data as you upload it.")}}</p>
      </div>
      <div class="col-md-4 col-md-offset-1 feature-box feature-box--blue-o">
        <h3>{{ _("By Educators, for Educators") }}</h3>
        <p>{{_("Work with high-schoolers? Journalists? Community groups? Graduate students?  Us too!!!  That's why we designed and tested the DataBasic tools and activities in our classrooms and in workshops with those audiences.  These tools were born out of frustration with things we were trying to use in our undergraduate classes, so we feel your pain.")}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid home-news">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{ _('<strong>DataBasic</strong> News') }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid home-credits">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h3>{{ _('Designed and Developed by') }}</h3>
      <h4>{{ _('Principal Investigators:') }}</h4>
      <p>
        <a href="http://www.datatherapy.org">Rahul Bhargava</a> (MIT Center for Civic Media) &amp; <a href="http://www.kanarinka.com">Catherine D'Ignazio</a> (Engagement Lab)
      </p>
      <h4>{{ _('Software development:') }}</h4>
      <p>
        <a href="http://www.datatherapy.org">Rahul Bhargava</a>, <a href="http://www.kanarinka.com">Catherine D'Ignazio</a>, <a href="http://elab.emerson.edu">the Engagement Lab</a> &amp; <a href="http://stephensuen.com">Stephen Suen</a>
      </p>
      <h4>{{ _('Spanish translation:') }}</h4>
      <p>
        <a href="http://www.aleszu.com">Aleszu Bajak</a> &amp; <a href="https://mx.linkedin.com/in/v%C3%ADctor-rogelio-hernández-marroqu%C3%ADn-bab39635">Víctor Rogelio Hernández Marroquín</a>
      </p>
      <h4>{{ _('Portuguese translation:') }}</h4>
      <p>
        <a href="http://www.danielpaz.net">Daniel Paz de Araújo</a> {{ _('with contributions from') }} <a href="http://linkedin.com/in/emiliereiser">Emilie Reiser</a>
      </p>
      <h4>{{ _('Spanish data sourcing:') }}</h4>
      <p>
        <a href="http://www.icfj.org/about/profiles/miguel-paz">Miguel Paz</a>
      </p>
      <h4>{{ _('Portuguese data sourcing:') }}</h4>
      <p>
        <a href="https://twitter.com/vivianguilherme">Vivian Guilherme</a> &amp; <a href="http://www.danielpaz.net">Daniel Paz de Araújo</a> 
      </p>
      <p>This free and open source project would not be possible without the generous support of:<br> 
      The John S. and James L. Knight Foundation, The Emerson College Faculty Development Fund &amp; The Shuttleworth Foundation</p>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3">
          <a href="https://civic.mit.edu/"><img src="/static/img/logos/mit.png" alt="MIT logo" class="img-responsive"></a>
        </div>
        <div class="col-xs-5 col-sm-3">
          <a href="http://elab.emerson.edu"><img src="/static/img/logos/el.png" alt="Engagement Lab logo" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  <footer>
  {{ footer_menu() }}
  </footer>
{% endblock %}