{% extends "base.html" %}
{% block custom_css %}
	<link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block nav %}
	{% include 'home_nav.html' %}
{% endblock %}
{% block body %}
<div class="row">
<!-- <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</h3> -->
</div>
<div class="row row-centered">
	<div class="col-sm-4 col-md-3 col-centered">
		<div class="thumbnail">
			<a href="wordcounter"><img src="http://lorempixel.com/400/300/cats/1"></a>
			<div class="caption">
				<h3>{{ _('Word-Counter') }}</h3>
				<p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.') }}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-centered">
		<div class="thumbnail">
		<a href="wtfcsv"><img src="http://lorempixel.com/400/300/cats/2"></a>
			<div class="caption">
				<h3>{{ _('WTFcsv') }}</h3>
				<p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.') }}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-3 col-centered">
		<div class="thumbnail">
		<a href="samediff"><img src="http://lorempixel.com/400/300/cats/3"></a>
			<div class="caption">
				<h3>{{ _('SameDiff') }}</h3>
				<p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.') }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}