@charset "UTF-8";

// Config
@import "settings/fonts";

// Modules
@import "modules/mixins";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/nav";

@mixin no-border() {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
}

@mixin vertical-center() {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.btn, 
th, td,
.navbar-default, 
.form-control, 
.nav-tabs.nav-justified > li > a, 
.active a {
	@include no-border();
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	color: $c-white;
  	

}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.1s ease-out;
     -moz-transition: -moz-transform 0.1s ease-out;
       -o-transition: -o-transform 0.1s ease-out;
          transition: transform 0.1s ease-out;
}

.centered-row {
	text-align: center;
}

.bottom-section {
	color: $c-theme-md;
	padding: 10px 0 20px 0;
	background-color: $c-white;
	@include selection($c-white, $c-theme-dk);

	h2 {
		text-align: center;	
	}
}

a.invitation {
  display: block;
  color: $c-white !important;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 24px;

  &.red { background-color: $c-pinkish-orange; }
  &.blue { background-color: $c-blue; }
  &.organge { background-color: #ff9800; }
}