@charset "UTF-8";

// Config
@import "settings/fonts";

// Modules
@import "modules/mixins";

// Layout
@import "layout/header";
@import "layout/footer";

@mixin no-border() {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
}

.btn, 
th, td,
.navbar-default, 
.form-control, 
.nav-tabs.nav-justified > li > a, 
.active a, 
:hover {
	@include no-border();
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	color: $c-white;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.1s ease-out;
     -moz-transition: -moz-transform 0.1s ease-out;
       -o-transition: -o-transform 0.1s ease-out;
          transition: transform 0.1s ease-out;
}

.centered-row {
	text-align: center;
}

.bottom-section {
	color: $c-theme-md;
	padding: 10px 0 20px 0;
	background-color: $c-white;
	@include selection($c-white, $c-theme-dk);

	h2 {
		text-align: center;	
	}
}