@charset "UTF-8";

@import "base";

.no-results a {
	text-decoration: underline;
}

.no-results .tool-logo {
  margin-top: 20px;
}

.top-info {
  text-align: center;
  .summary {
    text-align: left;
    margin-bottom: 20px;
  }
}
