@charset "UTF-8";

@import "base";
@import "results";

body {
	background-color: $c-theme-bg;
	@include selection($c-theme-dk, $c-white);

	> .container {
		margin: 25px auto;
	}
}

a { @include tooltip($c-white); }

p a {
	font-size: 18px;
	@include tooltip($c-white);
}

label a {
	font-size: 16px;
	@include tooltip($c-white);
}

h3 a {
	&:active, &:hover {
		color: $c-white;
	}
}

#tool-description {
	text-align: center;
}

#video-modal-btn {

	margin: 15px 0;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 40px;
	background-color: $c-theme-lt;
	@include box-shadow();

	span {
		font-size: 48px;
	}

	&:hover {
		background-color: $c-hover;
	}
}

#what-next {
	padding: 10px 0 20px 0;
	a {
		text-decoration: underline;
		color: $c-theme-dk;

		&:hover {
			color: $c-theme-accent;
		}
	}
}

#results-title {
	.glyphicon {
		color: $c-white;
		font-size: 32px;
		top: 7px;
		opacity: 0.6;

		&:hover {
			color: $c-white;
			opacity: 0.8;
		}

		&:focus {
			color: $c-white;
			opacity: 0.8;
		}

		&:active {
			color: $c-white;
			opacity: 0.8;
		}
	}
}

.modal-content {
	background-color: $c-theme-lt;
	border-radius: 0;
	border: none;
}

.modal-title {
	font-size: 32px;
	font-weight: normal;
}

.modal-header {
	padding: 12px 15px 0px 15px;
	border: none;

	.close {
		font-size: 32px;
		font-weight: normal;
		opacity: 1;
		color: $c-white;
	}
}

.modal-body {
	max-width: 560px;
	margin: 0 auto;

	> div {
		position: relative;
		padding-bottom: 75%;
		height: 0px;
	}

	iframe {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}

.inputs {
	margin: 60px auto;
	max-width: 600px;
	background-color: $c-theme-md;
	@include box-shadow();

	.nav-tabs.nav-justified > li {
		text-transform: lowercase;
		background-color: $c-theme-md;
    vertical-align: middle;

    &.active {
      background-color: $c-theme-accent;
    }

    &:hover {
      background-color: $c-theme-dk;
    }

		a {
			margin-bottom: 0;

			&:hover {
				color: $c-white;
        background-color: transparent;
			}
		}
	}

	.nav-tabs.nav-justified > li.active > a {
		color: $c-white;
    background-color: transparent;
		text-transform: lowercase;

		&:hover {
			color: $c-white;
			cursor: pointer;
		}
	}

	.btn {
		font-size: 20px;
		text-transform: uppercase;
		color: $c-white;
		background-color: $c-theme-dk;
		width: 100%;
		height: 48px;
	}

	.form-group {
		margin-bottom: 0;

		#area {
			height: 120px;
			font-size: 18px;
		}
	}

	.form-control {
		min-height: 40px;
		font-size: 20px;
	}
}

.bottom-section {

	h2, h3 {
		margin-bottom: 20px;
	}
	text-align: center;
	
	.js-video {
	  height: 0;
	  padding-top: 25px;
	  padding-bottom: 67.5%;
	  margin-bottom: 10px;
	  position: relative;
	  overflow: hidden;
	}
	 
	.js-video.widescreen {
	  padding-bottom: 56.34%;
	}
	 
	.js-video.vimeo {
	  padding-top: 0;
	}

	.js-video embed, .js-video iframe, .js-video object, .js-video video {
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	}

	#activity-thumbnail {
		width: 100%;
	}

	#video-section, #activity-section {
		padding: 0 25px;
		.btn {
			width: 100% !important;
			background-color: $c-unselected;

			&:hover {
				background-color: $c-hover;
			}
			&:active, &:focus {
				background-color: $c-selected;
			}
			&#download-spanish {
				margin-top: 15px;
			}
		}
	}

	#activity-section {
		#thumbnail-container {
			padding: 0;
		}
		p {
			text-align: left;
			margin-bottom: 20px;
		}
	}
}

.tool {
	margin-top: 40px;

	.container {
		margin-bottom: 40px;
	}
}

/** d3 tooltip **/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* CSS Accessbility Clipping */

.clipped-invisible{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}