@charset "UTF-8";

@import "base";
@import "results";

body {
	background-color: $c-theme-bg;
}

#video-modal-btn {

	margin: 15px 0;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 40px;
	background-color: $c-theme-lt;
	@include box-shadow();

	span {
		font-size: 48px;
	}
}

.modal-content {
	background-color: $c-theme-lt;
}

.modal-title {
	font-size: 32px;
	font-weight: normal;
}

.modal-header {
	padding: 12px 15px 0px 15px;

	.close {
		font-size: 32px;
		font-weight: normal;
		opacity: 1;
		color: $c-white;
	}
}

.modal-body {
	max-width: 560px;
	margin: 0 auto;

	> div {
	  position: relative;
	  padding-bottom: 75%;
	  height: 0px;
	}

	iframe {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	}
}

.inputs {
	margin: 20px auto;
	max-width: 600px;
	@include box-shadow();

	.nav-tabs.nav-justified > li {
		text-transform: lowercase;
		background-color: $c-theme-md;

		a {
			margin-bottom: 0;

			&:hover {
				color: $c-white;
				background-color: $c-theme-dk;
			}
		}
	}

	.nav-tabs.nav-justified > li.active > a {
		color: $c-white;
		text-transform: lowercase;
		background-color: $c-theme-accent;

		&:hover {
			color: $c-white;
			background-color: $c-theme-dk;
		}
	}

	.btn {
		font-size: 20px;
		text-transform: uppercase;
		color: $c-white;
		background-color: $c-theme-dk;
		width: 100%;
		height: 48px;
	}

	.form-group {
		margin-bottom: 0;
	}

	.form-control {
		min-height: 40px;
		font-size: 20px;
	}
}

body > .container {
	margin: 25px auto;
}