@charset "UTF-8";

@import "themes/blue-theme";
@import "tool";
@import "modules/input";

body {
  background-color: $c-theme-bg;
}

h4[role=alert] {
  margin-bottom: 40px;
}

.tool-logo {
  margin-bottom: 30px;
}

.summary {
  margin-bottom: 20px;
}

.ctd-container {
  position: relative;
  margin-top: 30px;
  &.affix {
    @media (min-width: 992px) {
      position: fixed;
      top: 10px;
    }
  }
}

.ctd-menu {
  margin: 0;
  background-color: $c-white;
  > [class*='col-'] {
    padding: 0;
  }
}

.ctd-download > button {
  padding: 5px 12px 5px 15px;
  border: 0;
  font-family: $font-md;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $c-theme-accent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear;
  &:focus {
    background-color: $c-selected;
    outline: none;
  }
  > .glyphicon {
    top: 4px;
    font-size: 24px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.ctd-download > .dropdown-menu {
  top: 40px;
  border: 0;
  border-radius: 0;
  background-color: $c-theme-accent;
  box-shadow: none;
  > li > a {
    color: $c-white;
    &:hover {
      background-color: $c-hover;
      cursor: pointer;
    }
    &:focus,
    &:active {
      background-color: $c-hover;
    }
    > strong {
      font-family: $font-md;
    }
  }
  > .divider {
    height: 2px;
    background-color: $c-white;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.ctd-colors {
  padding: 5px 20px 5px 15px;
  font-size: 20px;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear;
  > label {
    font-size: 15px;
    color: $c-black;
  }
  > label > a {
    position: relative;
    top: -2px;
    font-size: 15px;
    color: $c-black;
    &:hover,
    &:focus {
      color: $c-black;
    }
  }
  > .control-label {
    margin-right: 10px;
    font-family: $font-md;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

.ctd-progress {
  position: absolute;
  height: 5px;
  background-color: $c-theme-dk;
  z-index: 2;
}

.ctd-tooltip {
  z-index: 1;
  pointer-events: none;
}

.nodes > circle {
  stroke: $c-white;
  transition: fill 150ms linear,
              opacity 150ms linear,
              fill-opacity 150ms linear,
              stroke-opacity 150ms linear;
  &.hover {
    cursor: pointer;
    &.blur {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }
  &.blur {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
  }
}

.edges > line {
  stroke: $c-black;
  stroke-opacity: 0.25;
  transition: opacity 150ms linear,
              stroke-opacity 150ms linear;
  &.blur {
    stroke-opacity: 0.05;
  }
}

.ctd-meta {
  padding: 10px 0;
  margin: -5px 0 0;
  background-color: $c-theme-accent;
  > .row {
    @media (max-width: 767px) {
      margin: 0;
    }
  }
}

.ctd-meta--name,
.ctd-meta--name > a {
  font-family: $font-lt;
}

.ctd-meta--value {
  display: inline-block;
  margin-top: 0;
  &:hover {
    cursor: pointer;
  }
}

.ctd-meta--summary {
  font-size: 15px;
  > a[role=definition] {
    display: inline-block;
    font-size: 15px;
  }
}

.ctd-table {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  table-layout: fixed;
}

.ctd-table > thead > tr {
  background-color: $c-theme-bg;
  > th:nth-child(1) {
    width: 35%;
  }
  > th:nth-child(2) {
    width: 30%;
  }
  > th:nth-child(3) {
    width: 35%;
  }
}

.ctd-table > thead > tr > th {
  &:before {
    content: '\f0dc';
    font-family: FontAwesome;
  }
  &:hover,
  > a:hover {
    cursor: s-resize;
  }
  &.ctd-sort--asc:before {
    content: '\f0de';
  }
  &.ctd-sort--desc:before {
    content: '\f0dd';
  }
  &.ctd-sort--desc:hover,
  &.ctd-sort--desc > a:hover {
    cursor: n-resize;
  }
}

.ctd-thwrap {
  overflow: visible !important;
}

.ctd-table > tbody > tr {
  &:nth-of-type(odd) {
    background-color: $c-theme-accent;
  }
  > td {
    font-family: $font-lt;
    word-wrap: break-word;
    transition: background 150ms linear;
  }
  &:hover {
    cursor: pointer;
  }
  &.hover > td {
    background-color: $c-hover;
  }
  &.active > td {
    background-color: $c-selected;
  }
}

.tool > .container-fluid {
  background-color: $c-white;
}

#what-next > div > h1 {
  color: $c-theme-accent;
}

#what-next > div > p {
  color: $c-theme-accent;
  > a[role=definition] {
    display: inline-block;
    color: $c-theme-accent;
    text-decoration: none;
  }
  > strong {
    font-family: $font-md;
    font-weight: 400;
  }
}

footer > nav {
  background-color: $c-theme-bg;
}