@charset "UTF-8";

@import "themes/blue-theme";
@import "tool";
@import "modules/input";

body {
  background-image: url("/static/img/backgrounds/tiled_background_red.png");
}

textarea {
  resize: vertical;
}

footer {
  nav {
    background-color: $c-theme-bg;
  }
}