@charset "UTF-8";

@import "themes/red-theme";
@import "tool";
@import "modules/input";

body {
  background-color: $c-theme-bg;
}

#results-title {
  margin-top: 0;
}

.ctd-container {
  position: relative;
  margin-top: 30px;
  &.affix {
    @media (min-width: 992px) {
      position: fixed;
      margin-top: -300px;
    }
  }
}

.ctd-progress {
  position: absolute;
  height: 5px;
  background-color: $c-theme-dk;
}

.ctd-tooltip {
  z-index: 1;
  pointer-events: none;
}

.nodes > circle {
  fill: $c-theme-bg;
  stroke: $c-white;
  transition: fill 150ms linear,
              opacity 150ms linear;
  &.hover {
    fill: $c-hover;
    cursor: pointer;
  }
  &.active {
    fill: $c-selected;
  }
}

.edges > line {
  stroke: $c-black;
  stroke-opacity: 0.25;
  transition: opacity 150ms linear;
}

.ctd-meta {
  padding: 10px 0;
  margin: 0;
  > .row {
    margin: 0;
    &:first-child {
      margin-top: -15px;
      background-color: $c-theme-md;
    }
    &:last-child {
      background-color: $c-selected;
    }
  }
}

.ctd-meta--name,
.ctd-meta--name > a {
  font-family: $font-lt;
}

.ctd-meta--value {
  margin-top: 0;
}

.ctd-meta--summary {
  font-size: 16px;
}

.ctd-table {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  table-layout: fixed;
}

.ctd-table > thead > tr {
  background-color: $c-theme-bg;
  > th:nth-child(1) {
    width: 35%;
  }
  > th:nth-child(2) {
    width: 30%;
  }
  > th:nth-child(3) {
    width: 35%;
  }
}

.ctd-table > thead > tr > th {
  &:before {
    content: '\f0dc';
    font-family: FontAwesome;
  }
  &:hover,
  > a:hover {
    cursor: s-resize;
  }
  &.ctd-sort--asc:before {
    content: '\f0de';
  }
  &.ctd-sort--desc:before {
    content: '\f0dd';
  }
  &.ctd-sort--desc:hover,
  &.ctd-sort--desc > a:hover {
    cursor: n-resize;
  }
}

.ctd-thwrap {
  overflow: visible !important;
}

.ctd-table > tbody > tr {
  &:nth-of-type(odd) {
    background-color: $c-theme-lt;
  }
  > td {
    font-family: $font-lt;
    transition: background 150ms linear;
  }
  &:hover {
    cursor: pointer;
  }
  &.hover > td {
    background-color: $c-hover;
  }
  &.active > td {
    background-color: $c-selected;
  }
}

.tool > .container-fluid {
  background-color: $c-white;
}

footer > nav {
  background-color: $c-theme-bg;
}