@charset "UTF-8";

@import "themes/home-theme";
@import "base";

body { 
  &.culture {
    margin: 0!important;
  }
}

// Culture Home Page
.culture-wrapper {
  background-image: url('/static/img/background_tile_tiny.png');
  font-family: $font-avenir;
  color: $c-charcoal-grey;
  width:100%;
  padding: 0px;
  padding-top: 2%;


  // Background for sketch page
  &.activity-wrapper {
    background: white;
    background-image: url('/static/img/culture/databasic-right-decoration.png');
    background-position: 100% 20%;
    background-repeat: no-repeat;

    @media(max-width: 1023px) {
      background-image: none;
    }
  }

  
  header {
    box-shadow: none;
  }

  h1, h2 {    
    font-family: $font-avenir-bold;
  }
  p {
    font-family: $font-avenir;
    line-height: 30px;
    
  }
  .toptext {
    font-size: 28px;
    line-height: 40px;
  }

  a.process {
    width: 300px;
    height: 53px;
    max-width: 100%;
    font-family: $font-avenir-bold;
    border-radius: 10px;
    border-width: 0;
    background-color: $c-pinkish-orange;    
    background-image: url('/static/img/culture/arrow.png');
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: center;
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 53px;
    padding-left: 4%;
    margin-top: 20px!important;

    &:hover {
      border-radius: 10px!important;
    }
    /* &:before {
      content: "";
      position: absolute;
      z-index: 10;
      // bottom: 0px;
      right: 100px;
      font-size: 16px;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    } */
  }
  a {
    
    color:$c-charcoal-grey;
    font-family: $font-avenir;
    font-weight: 600;
  }

  .img_sml {
    height: 300px;
    width: 300px;  
    margin-top: 20px;
    max-width: 100%;
  }

  .img_big {
    height: auto;

  }

  .row {
    margin:0px;

    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.navbar.culture {
  margin: 0;
  padding-top: 4%;
  padding-bottom: 4%;
}

.fixed-footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.home-logo {
  width: 440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 40px auto 20px;
}

.home-tagline {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.4em;
  font-family: $font-lt;
  color: $c-black;
  text-align: center;
}

.no-gutter > [class*='col-'] {
  padding: 0;
}

.thumbnail {
  @include no-border();
  &:hover,
  &:focus {
    text-decoration: none;
    > .thumbnail-img {
      opacity: 0.5;
    }
  }
}

.thumbnail-img {
  height: 375px;
  opacity: 1;
  transition: opacity .15s ease-in;
  -webkit-backface-visibility: hidden;
}

.thumbnail-caption {
  margin-top: 20px;
  padding: 15px;
  color: $c-black;
}

.home-video {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: $c-pink;
  h1 {
    margin: 0 auto 40px;
    font-family: $font-lt;
  }
}

.home-about--header {
  h1 {
    margin: 40px auto;
    font-family: $font-lt;
    color: $c-black;
    > strong {
      font-family: $font-md;
      font-weight: 400;
    }
  }
}

.row-flex {
  padding: 20px;
  padding-top:50px;
  padding-bottom:50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin feature-box--culture($color) {
  background-color: $color !important;
  color: $c-charcoal-grey;
}

.feature-box {
  
  width: 100%;
  // @media (min-width: 768px) { width: 50%; margin-bottom: 40px; }
  // @media (min-width: 992px) { width: 37.5%; margin-bottom: 80px; }
  background-color: $c-white;

  &.feature-box--blue { background-color: $c-blue; }
  &.feature-box--yellow-o {
    @include feature-box--culture($c-marigold);
  }
  &.feature-box--pink-o {    
    @include feature-box--culture($c-soft-pink);
  }
  &.feature-box--green-o {    
    @include feature-box--culture($c-green-blue);
  }
  > img {
    width: 100%;
  }
  > p {
    margin-bottom: 0;
  }

}

// Sketch Page
.activity-content {

  max-width: 920px;
  margin: 0 auto;
  font-family: $font-avenir;

  .form {

    textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 3px !important;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px black !important;
      width: 100%;
      height: 156px;
      padding: 9px 22px;
      display: inline-block;
      font-size: 16px;
    }

    input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 3px !important;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px black !important;
      width: 100%;
      display: inline-block;
      padding: 9px 22px;
      font-size: 16px;
    }

    button {
      border-radius: 6px;
      background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
      /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;*/
      border: solid 1px #979797;
      height: 36px;
      float: right;
      font-size: 18px;
      width: 185px;

      &:hover, &:focus {
        border-radius: 6px !important;
        background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
        border: solid 1px #979797 !important;
      }
    }


  }

  .header {

    padding-bottom:0 !important;

    .logo {
      width: 225px;
    }
    h1 {
      color: $c-pinkish-orange;
      font-size: 48px;
      font-family: $font-avenir;
      margin-top: 36px;
      font-weight: bold;
      text-align: left;
    }
    h2 {
      font-size: 24px;
      font-family: $font-avenir;
      line-height: 34px;
    }

    &.blue {
      h1 {
        color: $c-blue;
      }
    }

    &.orange {
      h1 {
        color: #ff9800;
      }
    }

    &.red {
      h1 {
        color: $c-pinkish-orange;
      }
    }


  }

  ul {
    padding-left: 16px;
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
    font-family: $font-avenir;
  }

  .row {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      padding-bottom: 20px;
    }
  }

  .num {
    position: absolute;
    top: 50px;
    left: 100px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    font-family: $font-avenir-bold;

    &.even {
      color: white;
      line-height: 60px;

      &:hover, &:focus {
        color: white;
        border-radius: 30px !important;

        &.blue {
          background-color: $c-blue !important;
        }

        &.orange {
          background-color: #ff9800 !important;
        }

        &.red {
          background-color: $c-pinkish-orange !important;
        }
      }

      &.blue {
        background-color: $c-blue;
      }

      &.orange {
        background-color: #ff9800;
      }

      &.red {
        background-color: $c-pinkish-orange;
      }
    }

    &.odd {
      background-color: white;
      line-height: 44px;

      &:hover, &:focus {
        background-color: white;
        border-radius: 30px !important;
        line-height: 44px !important;

        &.blue {
          color: $c-blue;
          border: solid 8px $c-blue !important;
        }

        &.orange {
          color: #ff9800;
          border: solid 8px #ff9800 !important;
        }

        &.red {
          color: $c-pinkish-orange;
          border: solid 8px $c-pinkish-orange !important;
        }
      }

      &.blue {
        color: $c-blue;
        border: solid 8px $c-blue;
      }

      &.orange {
        color: #ff9800;
        border: solid 8px #ff9800;
      }

      &.red {
        color: $c-pinkish-orange;
        border: solid 8px $c-pinkish-orange;
      }
    }


    @media (max-width: 860px) {
      left: 80px;
    }
    @media (max-width: 720px) {
      left: 60px;
    }

  }

  // Special media breakpoints 
  @media (max-width: 620px) {

    .row {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .num {
      left: 75px;
      top: 0px;
    }

    .col-xs-offset-2 {
      margin-left: 6.66666%
    }

    .col-xs-offset-1 {
      margin-left: 7.33333% !important;
    }

    .col-xs-8 {
      width: 88.666666%;
    }
  }

  @media (max-width: 520px) {

    .row {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .num {
      left: 40px;
      top: 0px;
    }
    .col-xs-offset-2 {
      margin-left: 0px;
    }
    .col-xs-8 {
      width: 100%;
    }
  }

}

// Media Breakpoints
@media(max-width: 1440px) and (min-width: 992px){ 

  .col-md-offset-1-5 {
    margin-left: 13.33333%;
  }

}


@media(min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-0 {
    margin-left: 4.333333%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333%;
  }

  .col-sm-offset-2-5 {
    margin-left: 11.33333%;
  }
}

@media (min-width: 992px) {

  .home-vide {
    padding-bottom: 80px;
  }

  .home-tagline {
    margin-bottom: 80px; 
  }
}


@media (min-width: 768px) { 

  .thumbnail {
    margin-bottom: 80px;
  }

  .thumbnail-caption {
    padding: 10px;
  }

  .home-tagline {
    font-size: 24px; 
  }
}

@media(max-width: 768px) and (min-width: 702px) {

  .col-xs-12 {

    display:block !important;

    img {
      display:inline-block;
      float:left;
    }
    a {
      display: inline-block;
      float:left;

    }

    a:nth-child(2){
        margin-top: 5% !important;
    }


  }

  .img_sml {
    max-width: 100%;
    height: auto;
  }
}


@media(max-width: 450px) {

  .row {
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .img_big {
    margin: 4%;

  }

}

a.activity-guide {
  display: block;
  color: $c-white;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
}
.red {
  a.activity-guide {
    background-color: $c-pinkish-orange;
  }
}
.blue {
  a.activity-guide {
    background-color: $c-blue;
  }
}
.orange {
  a.activity-guide {
    background-color: #ff9800;
  }
}
