@charset "UTF-8";

@import "themes/home-theme";
@import "base";

header {
  box-shadow: none;
}

.home-logo {
  width: 440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 40px auto 20px;
}

.home-tagline {
  margin-bottom: 60px;
  @media (min-width: 992px) { margin-bottom: 80px; }
  font-size: 18px;
  line-height: 1.4em;
  @media (min-width: 768px) { font-size: 24px; }
  font-family: $font-lt;
  color: $c-black;
  text-align: center;
}

.no-gutter > [class*='col-'] {
  padding: 0;
}

.thumbnail {
  @media (min-width: 768px) { margin-bottom: 80px; }
  @include no-border();
  &:hover,
  &:focus {
    text-decoration: none;
    > .thumbnail-img {
      opacity: 0.5;
    }
  }
}

.thumbnail-img {
  height: 375px;
  opacity: 1;
  transition: opacity .15s ease-in;
  -webkit-backface-visibility: hidden;
}

.thumbnail-caption {
  margin-top: 20px;
  padding: 15px;
  @media (min-width: 768px) { padding: 10px; }
  color: $c-black;
}

.home-newsflash {
  padding-top: 40px;
  padding-bottom: 60px;
  @media (min-width: 992px) { padding-bottom: 80px; }
  background-color: $c-blue;
  h1 {
    margin: 0 auto 40px;
    font-family: $font-lt;
  }
}

.home-video {
  padding-top: 40px;
  padding-bottom: 60px;
  @media (min-width: 992px) { padding-bottom: 80px; }
  background-color: $c-pink;
  h1 {
    margin: 0 auto 40px;
    font-family: $font-lt;
  }
}

.home-about--header {
  h1 {
    margin: 40px auto;
    font-family: $font-lt;
    color: $c-black;
    > strong {
      font-family: $font-md;
      font-weight: 400;
    }
  }
}

.home-about {
  background-image: url('/static/img/background_tile_tiny.png');
}

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin feature-box--o($color) {
  padding: 20px;
  border: 20px solid $color !important;
  color: $color;
}

.feature-box--green-o { @include feature-box--o($c-green); }

.feature-box {
  width: 100%;
  @media (min-width: 768px) { width: 50%; margin-bottom: 40px; }
  @media (min-width: 992px) { width: 37.5%; margin-bottom: 80px; }
  padding: 40px;
  background-color: $c-white;
  &.feature-box--blue { background-color: $c-blue; }
  &.feature-box--green-o { @include feature-box--o($c-green); }
  &.feature-box--yellow-o {
    @include feature-box--o($c-yellow);
    @media (max-width: 767px) { order: 2; }
  }
  &.feature-box--red {
    background-color: $c-red;
    @media (max-width: 767px) { order: 1; }
  }
  &.feature-box--pink { background-color: $c-pink; }
  &.feature-box--blue-o { @include feature-box--o($c-blue); }
  > img {
    width: 100%;
  }
  > p {
    margin-bottom: 0;
  }
}

.home-news {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: 992px) { padding-bottom: 80px; }
  background-color: $c-yellow;
  h1 {
    margin: 0 auto 40px;
    font-family: $font-lt;
    > strong {
      font-family: $font-md;
      font-weight: 400;
    }
  }
  .row-flex {
    @media (max-width: 991px) { display: block; }
  }
}

.blog-wrapper {
  display: flex;
  flex: 1;
}

.blog-post {
  flex: 1;
  padding: 20px;
  margin-bottom: 20px;
  @media (min-width: 992px) { margin-bottom: 0; }
  text-align: left;
  background-color: $c-white;
  > .blog-meta {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $c-darkgrey;
  }
  > a > .blog-image {
    width: 100%;
    @media (min-width: 480px) and (max-width: 991px) {
      float: left;
      width: 200px;
      margin-right: 20px;
    }
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity .15s ease-in;
    -webkit-backface-visibility: hidden;
  }
  > a:hover > .blog-image,
  > a:focus > .blog-image {
    opacity: .5;
  }
  > a > h3 {
    margin-top: 0;
    color: $c-black;
  }
  > p {
    margin-bottom: 0;
    font-size: 15px;
    color: $c-black;
  }
}

.home-credits {
  padding-top: 40px;
  padding-bottom: 60px;
  @media (min-width: 992px) { padding-bottom: 80px; }
  background-color: $c-blue;
  h3 {
    font-family: $font-lt;
    margin-bottom: 40px;
  }
  p {
    font-size: 15px;
    margin-bottom: 20px;
    > a {
      border-bottom: 1px solid $c-white;
    }
    &:last-of-type {
      margin: 40px auto;
    }
  }
}

#newsflash {
  margin-bottom: 50px;
  text-align: left;
  .logo {
    display: inline-block;
    float: left;
    padding: 10px 30px 10px 10px;
  }
  color: #000000;
}
