@charset "UTF-8";

@import "themes/default-theme";
@import "base";

body {
	background-image: url("/static/img/background_tile_tiny.png");
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}