@charset "UTF-8";

@import "themes/default-theme";
@import "base";

body {
	background-image: url("/static/img/background_tile_tiny.png");
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.navbar {
	box-shadow: 0px 4px 0 0 rgba(0,0,0,0.3);
	margin-bottom: 60px;
}

.thumbnail {
	@include no-border();

	.thumbnail-img {
		padding: 20px;

		&#wordcounter {
			background-color: $c-red;
		}
		&#wtfcsv {
			background-color: $c-yellow;
		}
		&#samediff {
			background-color: $c-green;
		}
	}

	.caption {
		padding: 20px 5px;

		a {
			color: $c-black;

			&:hover, &:active, &:focus {
				color: $c-black;
				text-decoration: none;
			}
		}
	}
}