@charset "UTF-8";

@import "themes/green-theme";
@import "tool";
@import "modules/input";

body {
	background-image: url("/static/img/backgrounds/tiled_background_green.png");
	
}

#logo {
	margin-top: -44px;
}

.tool-logo {
  padding: 0 5px;
  margin-bottom: 0;
}

footer {
	nav {
		background-color: $c-theme-bg;
	}
}