@charset "UTF-8";

@import "themes/green-theme";
@import "tool";
@import "modules/input";

.table-info {
	min-height: 80px;
}

.column-info {
	background-color: $c-theme-md;
	color: $c-white;
	padding: 1px 20px 16px 20px;
	margin-top: 20px;
}

.chart-container {

	background-color: $c-theme-lt;

	.nav {
		margin-bottom: 1px !important;
	}

	.nav-tabs {
		@include no-border();
		li {
			background-color: $c-theme-dk;
			a {
				@include no-border();
				margin-right: 0;
			}
		}
		.active a {
			color: $c-white !important;
			background-color: $c-theme-lt !important;
		}
	}

	.navbar-right {
		margin-right: 0;
	}

	.content-top {
		background-color: $c-theme-dk;			
	}

	table {
		border-spacing: 0;
		border-collapse: separate;
		padding: 8px 0;
	}

	.tab-pane {
		clear: both;
		background-color: $c-theme-lt;
	}
}

#title {
	margin: 30px 0;

	h2 .glyphicon {
		color: $c-white;
		font-size: 32px;
		top: 7px;
		opacity: 0.6;

		&:hover {
			color: $c-white;
			opacity: 0.8;
		}

		&:focus {
			color: $c-white;
			opacity: 0.8;
		}

		&:active {
			color: $c-white;
			opacity: 0.8;
		}
	}
}


.wordcloud-title {
	padding: 0;
	margin: 0;
	min-height: 70px;
	position: relative;
	border-bottom: 3px solid $c-white !important;

	h4 {
		position: absolute;
		bottom: 5px;
	}
}

.word {
	&:hover {
		cursor: pointer;
		fill: mix($c-yellow, $c-white, 50%);
		opacity: 1;
	}
}

/** d3 tooltip **/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/** d3 chart helpers **/
svg {
	font: 16px $font-lt;
}

.key {
	path {
		display: none;
	}

	line {
		stroke: #000;
		shape-rendering: crispEdges;
	}
}

.sameness-chart {
	background-color: rgb(238,238,238);
}
.diff-chart{
	padding: 10px;
	background-color: rgb(238,238,238);	
}