@charset "UTF-8";

@import "themes/green-theme";
@import "tool";
@import "results";
@import "modules/input";

.table-info {
	min-height: 80px;
}

.column-info {
	background-color: $c-theme-md;
	color: $c-white;
	padding: 1px 20px 16px 20px;
	margin-top: 20px;
}

.chart-container {

	background-color: $c-theme-lt;

	.nav {
		margin-bottom: 1px !important;
	}

	.nav-tabs {
		@include no-border();
		li {
			background-color: $c-theme-dk;
			a {
				@include no-border();
				margin-right: 0;
			}
		}
		.active a {
			color: $c-white !important;
			background-color: $c-theme-lt !important;
		}
	}

	.navbar-right {
		margin-right: 0;
	}

	.content-top {
		background-color: $c-theme-dk;			
	}

	table {
		border-spacing: 0;
		border-collapse: separate;
		padding: 8px 0;
	}

	.tab-pane {
		clear: both;
		background-color: $c-theme-lt;
	}
}

#title {
	margin: 30px 0;
}


.wordcloud-title {
	padding: 0;
	margin: 0;
	min-height: 70px;
	position: relative;
	border-bottom: 3px solid $c-white !important;

	h4 {
		position: absolute;
		bottom: 5px;
	}
}

.word {
	&:hover {
		cursor: pointer;
		fill: mix($c-yellow, $c-white, 50%);
		opacity: 1;
	}
}


/** d3 chart helpers **/
svg {
	font: 16px $font-lt;
}

.key {
	path {
		display: none;
	}

	line {
		stroke: #000;
		shape-rendering: crispEdges;
	}
}

.sameness-chart {
	background-color: rgb(238,238,238);
}
.diff-chart{
	padding: 10px;
	background-color: rgb(238,238,238);	
}

#logo {
	margin-top: -44px;
}

#tool-logo-samediff {
	height: 72px;
}

footer {
	nav {
		background-color: $c-theme-bg;
	}
}