@charset "UTF-8";

@import "themes/red-theme";
@import "tool";
@import "modules/input";

body {
	background-image: url("/static/img/backgrounds/tiled_background_red.png");
	
}

.tool-logo {
  margin-bottom: 10px;
}

footer {
	nav {
		background-color: $c-theme-bg;
	}
}