@charset "UTF-8";

@import "themes/yellow-theme";
@import "tool";
@import "modules/input";

h2 {
	text-align: center;
	color: $c-theme-dk;

	a { @include tooltip($c-white, $c-theme-dk); }
}

body {
	background-color: $c-white;
}

h3 a {
	color: $c-theme-md;
	&:hover, &:active {
		color: $c-theme-md;
	}
}

.column-info {
	.front, .back {
		padding: 1px 20px 16px 20px;
	}
	.front {
		background-color: $c-theme-md;
		color: $c-white;
		position: relative !important;

		> h3 > .glyphicon {
			font-size: smaller;
		}
	}
	.back {
		top: 0;
		background-color: $c-black;
	}
	li {
		list-style: none;
	}
}

.ghost {
	> div .front, .back {
		background-color: $c-red;
	}
}

.list-group-item {
	@include no-border();
	padding: 10px;
	// h3 { cursor: move; }
}

ul.nav.nav-tabs {
	@media (max-width: 767px) { width: 100%; }
	@media (min-width: 768px) { width: 30%; }
	margin: 0 auto;
	font-size: 18px;

	li {
		a {
			color: $c-white;
			background-color: $c-unselected;
		}
		&.active a {
			background-color: $c-selected;
		}
		&:hover a {
			color: $c-white;
			background-color: $c-hover;
		}
	}
}

header {
	min-height: 120px;

	#card-position-reference {
		background-color: $c-theme-dk;
		margin: 0 -15px;

		ul {
			width: 100%;

			li {
				padding: 0;
				display: table-cell;
				width: 1%;

				a {
					padding: 20px 1px;	
					text-align: center;
					margin-bottom: 0;
					border-right: 1px solid $c-white !important;
					background-color: $c-theme-dk;

					&:hover {
						background-color: $c-theme-accent;
					}

					.card-reference-content {
						min-width: 12px;
						min-height: 10px;
					}
				}
			}
		}
	}
}

#what-next {
	margin-top: 20px;
	background-color: $c-theme-accent;
}

.affix {
	top: 0px;
	z-index: 1;
	width: 100%;
}

#cards {
	margin-top: 15px;
}

.card {
	.card-top {
		height: 65px;

		.dragHandle {
			float: left;
		}

		.close-button {
			float: right;
			a {
				color: $c-white;
			}
		}
	}
}

.list-group {
	.hidden-card {
		display: none;
	}
}

#card-position-reference {
	.hidden-card {
		background-color: $c-grey;
	}
}