@charset "UTF-8";

@import "themes/yellow-theme";
@import "tool";
@import "results";
@import "modules/input";

.summary {
	color: $c-theme-dk;
	a { @include tooltip($c-white); }
}

body {
	background-color: $c-white;
}

#wtfcsv-results {
	margin-top:30px;
}

h3 a {
	color: $c-theme-md;
	&:hover, &:active {
		color: $c-theme-md;
	}
}

#intro {
	color: $c-white;
	.intro-container {
		margin-left: 10px;
		margin-right: 10px;
		background-color: $c-theme-md;
		padding: 15px 0;

    .tool-logo {
      margin: 15px 0;
    }

		h2 {
			color: $c-white !important;
		}

		h3 a {
			color: $c-white;
		}

		p {
			color: $c-white;
		}
	}
}

.column-info {
	.front, .back {
		.card-content {
			padding: 1px 20px 16px 20px;
			background-color: $c-theme-md;
			height: 100%;
		}
	}
	.front {
		color: $c-white;
		position: relative !important;

		> h3 > .glyphicon {
			font-size: smaller;
		}
	}
	.back {
		top: 0;
	}
	li {
		list-style: none;
	}
}

.ghost {
	> div .front, .back {
		border: 4px solid $c-red;
	}
}

.list-group-item {
	@include no-border();
	padding: 10px;
	// h3 { cursor: move; } // uncomment if dragging enabled
}

ul.nav.nav-tabs {
	@media (max-width: 767px) { width: 100%; }
	@media (min-width: 768px) { width: 60%; }
	margin: 0 auto;
	font-size: 18px;

	li {
		a {
			color: $c-white;
			background-color: $c-unselected;
		}
		&.active a {
			background-color: $c-selected;
		}
		&:hover a {
			color: $c-white;
			background-color: $c-hover;
		}
	}
}

#what-next {
	margin-top: 20px;
}

.affix {
	top: 0px;
	z-index: 1;
	width: 100%;
}

.card {
	.card-top {
		height: 65px;

		.data-type {
			float: left;

			i {
				color: $c-red;
				border: 2px solid !important;
				border-radius: 20px !important;
				font-size: 14px;
				padding: 4px;
			}
		}

		.card-name {
			float: left;
			padding: 3px 2px 3px 12px;
		}

		.close-button {
			float: right;
			margin-top: 20px;
			h3 {
				color: $c-white;
				opacity: 0.75;

				&:hover {
					opacity: 1;
					cursor: pointer;
				}
			}
		}

		.flip-icon {
			i {
				color: $c-white;
			}
		}
	}

	.card-bottom {
		ul {
			padding-left: 0px;
			ul {
				padding-left: 10px;
			}
		}
	}

	.card-chart {
	}
	
}

.list-group {
	.hidden-card {
		display: none;
	}
}

.no-results {
	color: $c-theme-dk;
	a { 
		color: $c-theme-dk; 
	}
}

.d3-tip {
	font: $font-lt;
	background: $c-white;
	color: #C8523B;
	padding: 8px;
	font-weight: normal;
	border: 1px solid #C8523B !important;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 13px;

	.tip-size {
		color: black;
		font-weight: bold;
	}
}
.d3-tip:after {
	color: $c-white;
}

footer {
	nav {
		background-color: $c-theme-bg;
	}
}
