@charset "UTF-8";

@import "themes/yellow-theme";
@import "tool";
@import "modules/input";

h2 {
	text-align: center;
	color: $c-theme-dk;

	a { @include tooltip($c-white, $c-theme-dk); }
}

body {
	background-color: $c-white;
}

.column-info {
	.front, .back {
		padding: 1px 20px 16px 20px;
	}
	.front {
		background-color: $c-theme-md;
		color: $c-white;
		position: relative !important;

		> h3 > .glyphicon {
			font-size: smaller;
		}
	}
	.back {
		top: 0;
		background-color: $c-black;
	}
	li {
		list-style: none;
	}
}

.ghost {
	> div .front, .back {
		background-color: $c-red;
	}
}

.list-group-item {
	@include no-border();
	padding: 10px;
	h3 { cursor: move; }
}

ul.nav.nav-tabs {
	@media (max-width: 767px) { width: 100%; }
	@media (min-width: 768px) { width: 30%; }
	margin: 0 auto;
	font-size: 18px;

	li {
		a {
			color: $c-white;
			background-color: $c-unselected;
		}
		&.active a {
			background-color: $c-selected;
		}
		&:hover a {
			color: $c-white;
			background-color: $c-hover;
		}
	}
}