@charset "UTF-8";

@import "themes/yellow-theme";
@import "tool";
@import "modules/input";

.summary {
	text-align: center;
	color: $c-theme-dk;

	a { @include tooltip($c-theme-dk); }
}

body {
	background-color: $c-white;
}

h3 a {
	color: $c-theme-md;
	&:hover, &:active {
		color: $c-theme-md;
	}
}

.column-info {
	.front, .back {
		.card-content {
			padding: 1px 20px 16px 20px;
			background-color: $c-theme-md;
			height: 100%;
		}
	}
	.front {
		color: $c-white;
		position: relative !important;

		> h3 > .glyphicon {
			font-size: smaller;
		}
	}
	.back {
		top: 0;
	}
	li {
		list-style: none;
	}
}

.ghost {
	> div .front, .back {
		border: 4px solid $c-red;
	}
}

.list-group-item {
	@include no-border();
	padding: 10px;
	// h3 { cursor: move; } // uncomment if dragging enabled
}

ul.nav.nav-tabs {
	@media (max-width: 767px) { width: 100%; }
	@media (min-width: 768px) { width: 30%; }
	margin: 0 auto;
	font-size: 18px;

	li {
		a {
			color: $c-white;
			background-color: $c-unselected;
		}
		&.active a {
			background-color: $c-selected;
		}
		&:hover a {
			color: $c-white;
			background-color: $c-hover;
		}
	}
}

header {
	min-height: 120px;
}

#what-next {
	margin-top: 20px;
}

.affix {
	top: 0px;
	z-index: 1;
	width: 100%;
}

#cards {
	margin-top: 15px;
}

.card {
	.card-top {
		height: 65px;

		.dragHandle {
			float: left;
		}

		.close-button {
			float: right;
			h3 {
				color: $c-white;
				opacity: 0.75;

				&:hover {
					opacity: 1;
					cursor: pointer;
				}
			}
		}
	}
}

.list-group {
	.hidden-card {
		display: none;
	}
}