{% extends 'tool_base.html' %}
{% from 'macros.html' import render_forms, hover_tooltip with context %}

{% block title %}{{ _('ConnectTheDots') }}{% endblock %}

{% block custom_css %}
  <link href="{{ url_for('static', filename='css/connectthedots.scss.css') }}" rel="stylesheet" type="text/css">
  <meta id="max-file-size-in-mb" data-value="{{ max_file_size_in_mb }}">
{% endblock %}

{% block custom_scripts %}
  <script type="text/javascript">
    var $area = $('#area'),
        text = 'Paste rows from an Excel or Google spreadsheet, with this format:\nsource\ttarget\nA\tB\nA\tC\nB\tC';

    $area.addClass('placeholder');
    $area.val(text);

    $area.on('focus', function() {
      if ($area.hasClass('placeholder')) {
        $area.removeClass('placeholder');
        $area.val('');
      }
    });

    $area.on('blur', function() {
      if ($area.val() === '') {
        $area.addClass('placeholder');
        $area.val(text);
      }
    })
  </script>
{% endblock %}

{% block nav %}
  {% include 'tool_header.html' %}
{% endblock %}

{% block body %}
<div class="tool" role="main">
  <div class="container">
    {% if input_error == 'paste' %}
      <h4 class="text-center" role="alert">{{ _('Error: Paste failed! Make sure your input has exactly two tab-separated columns and try again.') }}</h4>
    {% elif input_error == 'upload' %}
      <h4 class="text-center" role="alert">{{ _('Error: Upload failed! Make sure your file has exactly two columns and try again.') }}</h4>
    {% endif %}
    <div class="row">
      <div id="tool-description">
        {{ tool_logo() }}
        <h3 id="input-title" role="banner">
          {{ _('ConnectTheDots shows you how your data is connected by analyzing it as a network.') }}
        </h3>
        <p>{{ _('Analyzing the connections between the "dots" in your data is a fundamentally different approach to understanding it. This tool shows you a network diagram to reveal those links, and gives you a high level report about what your network looks like.') }}</p>
      </div>
    </div>
    {{ render_forms(forms, action_url=tool_name, action_text=_('Graph')) }}
  </div>
</div>
{% endblock %}