@charset "UTF-8";

$c-white: #fff;
$c-black: #000;
$c-logo-yellow: #ffc600;
$c-logo-blue: #17bbff;
$c-logo-red: #ff6643;
$c-logo-green: #ecec00;
$c-logo-pink: #ffadb9;

$c-theme-accent: $c-white !default;
$c-theme-lt: $c-white !default;
$c-theme-md: $c-white !default;
$c-theme-dk: $c-black !default;
$c-theme-bg: $c-black !default;

$c-selected: $c-theme-accent !default;
$c-unselected: $c-theme-md !default;
$c-hover: $c-theme-dk !default;