@charset "UTF-8";

$c-white: #fff;
$c-grey: #eee;
$c-darkgrey: #aaa;
$c-black: #000;
$c-red: #fd755a;
$c-yellow: #fec52e;
$c-green: #1ec293;
$c-blue: #10b0f7;
$c-pink: #ffacb8;

$c-bright-sky-blue: #17bbff;
$c-marigold: #ffc600;
$c-pinkish-orange: #ff6643;
$c-soft-pink: #ffadb9;
$c-green-blue: #00cd94;
$c-brownish-grey: #666666;
$c-charcoal-grey: #4a4a4a;

$c-theme-accent: $c-white !default;
$c-theme-lt: $c-white !default;
$c-theme-md: $c-white !default;
$c-theme-dk: $c-black !default;
$c-theme-bg: $c-black !default;

$c-selected: $c-theme-accent !default;
$c-unselected: $c-theme-md !default;
$c-hover: $c-theme-dk !default;