@charset "UTF-8";

$c-white: #fff;
$c-grey: #eee;
$c-black: #000;
$c-red: #fd755a;
$c-yellow: #fec52e;
$c-green: #1ec293;
$c-blue: #10b0f7;
$c-pink: #ffacb8;

$c-theme-accent: $c-white !default;
$c-theme-lt: $c-white !default;
$c-theme-md: $c-white !default;
$c-theme-dk: $c-black !default;
$c-theme-bg: $c-black !default;

$c-selected: $c-theme-accent !default;
$c-unselected: $c-theme-md !default;
$c-hover: $c-theme-dk !default;