p, a, option, .btn, input, label {
	font-family: HalisGR-Book;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, th {
	font-family: HalisGR-Medium;
	font-weight: normal;
	font-style: normal;

	a {
		font-family: HalisGR-Medium;
	}
}

p {
	font-size: 18px;
}

a {
	color: $c-white;
}

