$font-lt: HalisGR-Book;
$font-md: HalisGR-Medium;

p, a, option, .btn, input, label {
	font-family: $font-lt;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, th {
	font-family: $font-md;
	font-weight: normal;
	font-style: normal;

	a {
		font-family: $font-md;
	}
}

p {
	font-size: 18px;
}

a {
	color: $c-white;
}

