$font-lt: HalisGR-Book;
$font-md: HalisGR-Medium;
$font-avenir: Avenir;
$font-avenir-bold: AvenirBold;

p, a, option, .btn, input, label {
	font-family: $font-lt;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, th {
	font-family: $font-md;
	font-weight: normal;
	font-style: normal;

	a {
		font-family: $font-md;
	}
}

p {
	font-size: 18px;
}

a {
	color: $c-white;
}

@font-face {
	font-family: 'fontawesome-webfont';
	src:url('/static/fonts/fontawesome-webfont.eot');
	src:url('/static/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('/static/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('/static/fonts/fontawesome-webfont.woff') format('woff'),
		url('/static/fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirBold';
	src:url('/static/fonts/avenir/AvenirNext-Bold.eot');
	src:url('/static/fonts/avenir/AvenirNext-Bold.eot') format('embedded-opentype'),
		url('/static/fonts/avenir/AvenirNext-Bold.ttf') format('truetype'),
		url('/static/fonts/avenir/AvenirNext-Bold.woff') format('woff'),
		url('/static/fonts/avenir/AvenirNext-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


.fa.noun_134105:before {
	font-family: 'fontawesome-webfont';
	content: "\e900";
}