<!DOCTYPE html>
<html>
<head>
	<title>Word-Counter</title>
</head>
<body>
	<h1>Word-Counter</h1>

	<!-- Form -->
	<form method="POST" action="/{{ g['current_lang'] }}/wordcounter/">
	{{ form.hidden_tag() }}
	<dl>
		<dd>{{ form.area(cols="35", rows="20") }}</dd>
		<dd>{{ form.ignore_case() }}</dd>
		<dd>{{ form.ignore_stopwords() }}</dd>
		<dd><input type="submit" value="Submit"></dd>
	</dl>
	</form>

	<!-- Results -->
	{% if results %}
		<table>
			<tr><th>Frequency</th><th>Word</th></tr>
			{% for word in results[0] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ word[0] }}</td>
			</tr>
			{% endfor %}

			<tr><th>Frequency</th><th>Bigram</th></tr>
			{% for word in results[1] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ " ".join(word[0]) }}</td>
			</tr>
			{% endfor %}

			<tr><th>Frequency</th><th>Trigram</th></tr>
			{% for word in results[2] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ " ".join(word[0]) }}</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}

</body>
</html>