
{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block title %}Word-Counter{% endblock %}
{% block body %}
<div class="container">
	{% for t, form in forms %}
	<div class="row">
		{{ render_form(form, class_=t, action_url='wordcounter') }}
	</div>
	{% endfor %}
</div>
<!--<script type="text/javascript">
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>-->
{% endblock %}
