{% extends "base.html" %}
{% from 'macros.html' import render_forms %}

{% block title %}{{ _('Word-Counter') }}{% endblock %}
{% block custom_css %}
	<link href="{{ url_for('static', filename='css/wordcounter.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}

<!-- Video modal -->
<a href="#video-modal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>

<div id="video-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">How to count</h4>
            </div>
            <div class="modal-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Lur-SGl3uw8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{{ render_forms(forms, action_url='wordcounter') }}
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript" src="/static/js/wordcounter-validate.js"></script>
{% endblock %}