{% extends "base.html" %}
{% block title %}Word-Counter{% endblock %}
{% block body %}

	<!-- Form -->
	<form method="POST" action="/{{ g['current_lang'] }}/wordcounter/" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{% for sub in form.input_type %}
	<dl>
		<div id="radio-group">
			<dd>{{ sub }} {{ sub.label }}</dd>
			<tr>
			{% if '-0' in sub.id %}
				<div id="paste" class="tab-pane">
					<dd>{{ form.area(cols="35", rows="20") }}</dd>
				</div>
			{% elif '-1' in sub.id %}
				<div id="upload" class="tab-pane">
					<dd>{{ form.upload() }}</dd>
				</div>
			{% elif '-2' in sub.id %}
				<div id="link" class="tab-pane">
					<dd>{{ form.link() }}</dd>
				</div>
			{% endif %}
			</tr>
	</dl>
	{% endfor %}
	<dl>
		<dd>{{ form.ignore_case() }} {{ form.ignore_case.label }}</dd>
		<dd>{{ form.ignore_stopwords() }} {{ form.ignore_stopwords.label }}</dd>
		<dd><input type="submit" value="Submit"></dd>
	</dl>
	</form>

	<!-- Results -->
	{% if results %}
		<table>
			<tr><th>Frequency</th><th>Word</th><th><a href="/{{ g['current_lang'] }}/wordcounter/download-csv/{{ csv_files[0] }}">download</a></th></tr>
			{% for word in results[0] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ word[0] }}</td>
			</tr>
			{% endfor %}

			<tr><th>Frequency</th><th>Bigram</th><th><a href="/{{ g['current_lang'] }}/wordcounter/download-csv/{{ csv_files[1] }}">download</a></th></tr>
			{% for word in results[1] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ " ".join(word[0]) }}</td>
			</tr>
			{% endfor %}

			<tr><th>Frequency</th><th>Trigram</th><th><a href="/{{ g['current_lang'] }}/wordcounter/download-csv/{{ csv_files[2] }}">download</a></th></tr>
			{% for word in results[2] %}
			<tr>
				<td>{{ word[1] }}</td>
				<td>{{ " ".join(word[0]) }}</td>
			</tr>
			{% endfor %}
		</table>
		{{ share_url }}
	{% endif %}
{% endblock %}
