[queue]
broker_url = redis://localhost:6379/0
backend_url = redis://localhost:6379/1

[db]
host = localhost
port = 27017
name = databasic

[mail]
from_email = samediff@databasic.io
from_name = Your Friendly SameDiff 
login = ''
password = ''