body {
	background-image: url("/static/img/background_tile_tiny.png");
}

.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/* Nav */
.navbar-default {
	background-color: #fff;
	border: none;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.navbar {
	min-height: 125px;
	border-radius: 0;
}

.navbar-brand {
	max-width: 256px;
}

.navbar-brand > img {
	width: 66%;
	margin-top: -40px;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FC674A;
	font-size: 18px;
}

.navbar-toggle .icon-bar {
	width: 44px;
	height: 7px;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #FC674A;
	font-size: 18px;
}

#nav-container {
	padding-top: 65px;
}

#language-selector {
	float: right;
	padding: 10px;
}