body {
	margin-bottom: 75px !important;
}

.what-next {
	color: $c-theme-md;
	padding: 10px 0 20px 0;
	background-color: $c-white;
	@include selection($c-white, $c-theme-dk);

	h2 {
		text-align: center;	
	}
}

footer {
	
	position: absolute;
	bottom: 0;
	width: 100%;

	color: $c-theme-md;

	.footer-below {
		background-color: $c-theme-md;
	}
	
	h2 {
		text-align: center;	
	}

	ul {
		margin-bottom: 0;

		li {
			margin-left: -4px;
		}
	}

	.list-inline > li {
		padding: 23px 0;

		a {
			background-color: $c-unselected;
			padding: 25px 12px;
			font-size: 20px;

			&[selected] {
				background-color: $c-selected;
			}

			&:hover {
				color: $c-white;
				text-decoration: none;
				background-color: $c-hover;
			}
		}
	}

	#footer-logo {
		padding: 7px;
		display: block;
		margin-top: 10px;
		margin-right: 20px;

		img {
			height: 40px;
		}
	}
}