footer {
	
	color: $c-theme-md;

	.footer-above {
		padding: 10px 0 35px 0;
		background-color: $c-white;
	}

	.footer-below {
		background-color: $c-theme-md;
	}
	
	h2 {
		text-align: center;	
	}

	ul {
		margin-bottom: 0;

		li {
			margin-left: -4px;
		}
	}

	.list-inline > li {
		padding: 25px 0;

		a {
			background-color: $c-unselected;
			padding: 27px 10px;

			&[selected] {
				background-color: $c-selected;
			}

			&:hover {
				color: $c-white;
				text-decoration: none;
				background-color: $c-hover;
			}
		}
	}
}