body {
	margin-bottom: 40px !important;
}

footer {

	a {
		color: white;
	}

	nav {
		background-color: #666666;

		.navbar-logo {
			padding: 12px;
			img { height: 26px; }
		}

		.navbar-toggle {
			.icon-bar {
				background-color: #ffffff;
			}
		}

		li {
			border-right: 1px solid #333333;
		}
	}

}