@charset "UTF-8";

.navbar {
	min-height: 140px;
}

.navbar-default {
	background-color: $c-white;

	.navbar-toggle {
		border: none;

		.icon-bar {
			background-color: $c-black;
			font-size: 18px;
			width: 44px;
			height: 7px;
		}
	}

	.navbar-nav > li > a {
		color: $c-black;
		font-size: 18px;
	}
}

.navbar-brand {
	max-width: 256px;

	img {
		width: 66%;
		margin-top: -40px;
	}
}

#nav-container {
	padding-top: 42px;
	text-align: center;
}

#language-selector {
	float: right;
	padding-top: 10px;
	padding-right: 10px;

	a {
		color: $c-theme-dk;
	}
}

#logo {
	padding-left: 10px;
	margin-top: -36px;

	img {
		height: 56px;
	}
}

.tool-logo {
	height: 64px;
}