@charset "UTF-8";

nav {

    a {
        color: white;
    }

    background-color: #666666;

    .navbar-logo {
        padding: 12px;
        img { height: 26px; }
    }

    .navbar-toggle {
        .icon-bar {
            background-color: #ffffff;
        }
    }

    li {
        border-right: 1px solid #333333;
    }

    &.culture-navbar {
        background-color: $c-pinkish-orange !important;
        li {
            border-right: 1px solid #ffffff !important;
        }
        #language-selector {
            color: #ffffff;
            .badge {
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
}
