.inputs {
	
	input, select, textarea {
		color: $c-theme-dk;
	}

	::selection {
		color: $c-white;
		background: $c-theme-dk;
	}

	::-moz-selection {
		color: $c-white;
		background: $c-theme-dk;
	}
	
	input, textarea { 
		@include placeholder {
			color: $c-theme-lt;	
			text-align: center;
		}
	}

	input[id="email"], input[id="link"] {
		text-align: center;
	}

	.checkbox, .radio {
		background-color: $c-unselected;
		margin: 0;

		&:hover {
			background-color: $c-hover;
		}

		label {
			width: 100%;
			padding: 5px 0;
		}

		input {
			display: none;
		}
	}

	.checked-div {
		background-color: $c-selected;

		label label:after {
			content: " ✓";
		}
	}
}