.inputs {
	
	input, select, textarea {
		color: $c-theme-dk;
	}

	@include selection($c-white, $c-theme-dk);
	
	input, textarea { 
		@include placeholder {
			color: $c-theme-lt;	
			text-align: center;
		}
	}

	input[id="email"], input[id="link"] {
		text-align: center;
	}

	.nav-tabs > li {
		font-size: 18px;
	}

	.checkbox, .radio {
		background-color: $c-unselected;
		margin: 0;
		font-size: 16px;

		&:hover {
			background-color: $c-hover;
		}

		label {
			width: 100%;
			padding: 5px 0;
			text-transform: lowercase;
		}

		input {
			display: none;
		}
	}

	.checked-div {
		background-color: $c-selected;

		label label {
			&:after {
				content: " ✓";
			}
		}
	}

	.btn:focus, .btn:hover:active {
		background-color: $c-theme-md;
		color: $c-white;
	}
}