@mixin box-shadow() {
	-webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content} 

	&:focus::-webkit-input-placeholder { color:transparent; }
	&:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
	&:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
	&:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}

@mixin selection($color, $highlight) {
	::selection {
		color: $color;
		background: $highlight;
	}
	::-moz-selection {
		color: $color;
		background: $highlight;
	}
}

@mixin tooltip($color) {
	&[role="definition"] {
		color: $color;
		&:hover, &:focus {
			text-decoration: none;
			color: $color;
		}
		&:after {
			font-family: FontAwesome;
			vertical-align: super;
			font-size: 70%;
			padding-left: 2px;
			content: "\f059";
		}
	}
}
