<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>

	<p><a href="../">DataBasic</a></p>
	<h1>{{ self.title() }}</h1>
	{% block body %}{% endblock %}

	<script type="text/javascript" src="../../static/js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("div.tab-pane").hide();
		$("#{{ tab }}").show();
	});
	$(function(){
		$(':radio').change(function (event) {
			var id = $(this).val();
			$("div.tab-pane").hide();
		    $('#' + id).show();
		});
	});
	</script>
	{% block scripts %}{% endblock %}

</body>