<footer>
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>{{ _("Scratching an Itch") }}</h2>
					{{_("This is a simple webpage that gives you a quick overview of what's happening in a CSV file. We created it to support some activities we do in our data visualization and storytelling classrooms. In our classes we introduce non-programmers to data analysis and storytelling. We want to help unlock the power of digital tools for everyone.")}}
				</div>
				<div class="col-sm-6">
					<h2>{{ _("Empowering Everyone") }}</h2>
					{{_("There are a number of computer-assisted data analysis techniques like this that are readily available to programmers. Some of these are even just one line of code, but that one line is incomprehensible if you don't know how to program. We built this site to help bridge that gap, so non-programmers can take advantage of these capabilities.")}}
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
						<li><a href="/{{ g['current_lang'] }}/wordcounter">{{ _('Word-Counter') }}</a></li>
						<li><a href="/{{ g['current_lang'] }}/wtfcsv">{{ _('WTFcsv') }}</a></li>
						<li><a href="/{{ g['current_lang'] }}/samediff">{{ _('SameDiff') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>