{% from "macros.html" import url_with_language %}
<header>
  
  <div class="btn-group" id="language-selector" role="group">
    <a href="{{ url_with_language('en') }}" role="button" aria-label="{{ _('change language to english') }}" class="btn btn-default">en</a>
    <a href="{{ url_with_language('es') }}" role="button" aria-label="{{ _('change language to spanish') }}" class="btn btn-default">es</a> 
    <a href="{{ url_with_language('pt') }}" role="button" aria-label="{{ _('change language to portuguese') }}" class="btn btn-default">pt</a> 
  </div>

  <div class="container-fluid" id="header-logo-container">
    <div class="row">
      <div class="col-xs-2 logo-container">
        {% block header_logo %}{% endblock %}
      </div>
      <div class="col-xs-8">
        {% block header_container %}{% endblock %}
      </div>
    </div>
  </div><!-- /.container-fluid -->

</header>
