{% extends "nav_base.html" %}
{% block nav_container %}
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="../" class="pull-left" id="logo"><img src="/static/img/data_basic_logo_256.png"></a>
</div>

<div class="collapse navbar-collapse" id="bs-navbar">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/{{ g['current_lang'] }}/wordcounter">Word-Counter</a></li>
    <li><a href="/{{ g['current_lang'] }}/wtfcsv">WTFcsv</a></li>
    <li><a href="/{{ g['current_lang'] }}/samediff">SameDiff</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
</div>
{% endblock %}