
{# http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/ #}

{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') -%}
 
    <form method="POST" action="/{{ g['current_lang'] }}/{{ action_url }}/" class="{{ class_ }}" enctype="multipart/form-data">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" name="btn" class="{{ btn_class }}" value="{{ class_ }}">{{ action_text }}</button>
    </form>
{%- endmacro %}

{% macro render_field(field, label_visible=true) -%}
    {% set class_ = 'form-control' %}
    {% if field.flags.required %}
        {{ kwargs.setdefault('required', '') }}
    {% endif %}
    {% if field.flags.url %}
        {{ kwargs.setdefault('input_type', 'url') }}
    {% endif %}
     <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label|safe }}</label>
        {% endif %}
        {{ field(class_=class_, **kwargs) }}
        {% if field.errors %}
            <p class="help-block">{{ field.errors|join(', ') }}</p>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
        {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}