{% macro li_tool(link, name) -%}
  <li>
    <a href="/{{ g['current_lang'] }}/{{ link }}" 
    {% if link == tool_name %}selected{% endif %}>
    {{ name }}</a>
  </li>
{%- endmacro %}

{% macro what_next(text) -%}
  <div class="bottom-section">
    <div class="container-fluid">
      <div class="row" id="what-next">
        <div class="col-md-12 text-center">
          <h1>{{ _('What do I do next?') }}</h1>
          <p>{{ text }}</p>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}

{% macro tool_footer() %}
  <div class="footer-below">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="pull-left">
            <ul class="list-inline">
              {{ li_tool('wordcounter', _('WordCounter')) }}
              {{ li_tool('wtfcsv', _('WTFcsv')) }}
              {{ li_tool('samediff', _('SameDiff')) }}
              <li><a href="/#about">{{_('about')}}</a></li>
              <li><a href="http://blog.databasic.io/">{{_('blog')}}</a></li>
              <li><a href="mailto:rahul@databasic.io,catherine@databasic.io">{{_('help')}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <a href="{{ url_for('index') }}" class="pull-right" id="footer-logo"><img src="/static/img/logos/databasic_white.png"></a>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}