{% extends "base.html" %}
{% from "tool_footer.html" import tool_footer %}

{% macro what_next_anchor() -%}
	<h3 class="text-center"><a href="#what-next">{{ _("What do I do next?") }}</a></h3>
{%- endmacro %}

{% block footer %}
	<footer>
		{% block custom_footer %}{% endblock %}
		{{ tool_footer() }}
	</footer>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="/static/js/{{ tool_name }}-validate.js"></script>
<script src="/static/js/tool.js"></script>
{% block results_scripts %}{% endblock %}
{% endblock %}