{% extends "base.html" %}
{% from "tool_footer.html" import tool_footer %}

{% macro what_next_anchor() -%}
  <h3 class="text-center" aria-hidden="true"><a href="#what-next">{{ _("What do I do next?") }}</a></h3>
{%- endmacro %}

{% macro about_section(name, video_id, activity_sheet_thumbnail_img, activity_sheet_en, activity_sheet_es) -%}
  <div class="bottom-section">
    <div class="container-fluid">
      <div class="row" id="what-next">
        <div class="col-sm-6" id="video-section">
          <h2>{{ _("About %(tool_name)s", tool_name=name) }}</h2>
          <!--
          <div class="js-video vimeo widescreen">
            <iframe src="https://player.vimeo.com/video/{{ video_id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          -->
          <div class="js-video youtube widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-6" id="activity-section">
          <div class="row">
            <h3>{{ _("Are you an Educator? Try our Activity Guide") }}</h3>
            <p>{{_("DataBasic activities are suitable for classes and workshops for participants from middle school through higher education. No prior data experience necessary!")}}</p>
          </div>
          <div class="row">
            <div class="col-sm-2" id="thumbnail-container">
              <img width=-"116" height="150" class="img-thumbnail" src="{{activity_sheet_thumbnail_img}}" id="activity-thumbnail" alt="{{ _("activity sheet thumbnail")}}" aria-hidden="true">
            </div>
            <div class="col-sm-6">
              <a href="{{activity_sheet_en}}"><button class="btn btn-lg btn-primary" id="download-english">{{ _('Download (English)') }}</button></a>
              <!--
              <button class="btn btn-lg btn-primary" id="download-spanish">{{ _('Download (Español)') }}</button>
              -->
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
{%- endmacro %}

{% block footer %}
  <footer>
    {% block custom_footer %}{% endblock %}
    {{ tool_footer() }}
  </footer>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="/static/js/{{ tool_name }}-validate.js"></script>
<script src="/static/js/tool.js"></script>
{% block results_scripts %}{% endblock %}
{% endblock %}
