{% extends "tool_base.html" %}
{% from 'macros.html' import render_forms, video_modal %}

{% block title %}{{ _('WTFcsv') }}{% endblock %}

{% block custom_css %}
	<link href="{{ url_for('static', filename='css/wtfcsv.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
	{% include 'tool_nav.html' %}
{% endblock %}

{% block body %}
<div class="container">
	<h2>{{ _('WTFcsv tells you WTF is going on with your .csv file.') }}</h2>
	<p>{{ _('Data arrives at your doorstep in the form of a spreadsheet but how do you find a story in rows and columns? WTFcsv provides the first step by characterizing each column so that you can ask more questions.') }}</p>
	{{ video_modal("How to count", "https://www.youtube.com/embed/Lur-SGl3uw8") }}
	{{ render_forms(forms, action_url=tool_name, action_text=_('Analyze')) }}
</div>
{% endblock %}

{% block custom_scripts %}
	<script type="text/javascript" src="/static/js/{{ tool_name }}-validate.js"></script>
{% endblock %}
